
<div class="form-horizontal">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>
        <div class="panel-heading">
          <h3 class="page-header text-overflow"><u>Sign up</u></h3>
        </div>
        <div class="panel-body">
          <%#= render '/companies/form' %>
          <%= f.hidden_field :company_id, :value => 1 %>
          <div class="form-group">
            <label for="demo-is-inputnormal" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-6">
              <%= f.text_field :username, autofocus: true, :class=>"form-control", :placeholder => "Username" %>
            </div>
          </div>

          <!-- <div class="form-group">
            <label for="demo-is-inputnormal" class="col-sm-3 control-label">Display Name</label>
            <div class="col-sm-6">
              <%#= f.text_field :display_name, autofocus: true, :class=>"form-control", :placeholder => "Display Name" %>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <label for="demo-is-inputnormal" class="col-sm-3 control-label">Company</label>
            <div class="col-sm-6">
              <div class="select">
                <select class="selectpicker" name="user[company_id]">
                  <option value="">Select an agency</option>
                  <%# Company.all.each do |company| %>
                    <option value="<%#= company.id %>"><%#= company.name %></option>
                  <%# end %>
                </select>
              </div>
            </div>
          </div> -->

          <!-- <div class="form-group">
            <label for="demo-is-inputnormal" class="col-sm-3 control-label">Type</label>
            <div class="col-sm-6">
              <h4>User</h4>
              <%#= f.hidden_field :type_id, :value => 2 %>
            </div>
          </div> -->

          <div class="form-group">
            <label for="demo-is-inputnormal" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
              <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder => "Email" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Password</label>
            <div class="col-sm-6">
              <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder => "Enter Password" %>
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Password Confirmation</label>
            <div class="col-sm-6">
              <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control", :placeholder => "Retype Password" %>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit" value="Submit" name="commit">Sign up and Login</button>
              <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset">Reset</button>
            </div>
          </div>
        </div>
    <% end %>
  </div>
