@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600,700,800);
.backgroundCover, section.well {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.text-right {
  text-align: right; }

.centered {
  text-align: center; }

.displayinline {
  display: inline-block; }

.clearfix {
  clear: both; }

td.colonstyle {
  width: 10px;
  text-align: center; }

.divider {
  border-bottom: 1px solid #c2bfa8;
  -webkit-box-shadow: 0 1px white;
  -moz-box-shadow: 0 1px white;
  -o-box-shadow: 0 1px white;
  box-shadow: 0 1px white;
  padding: 8px 0;
  margin: 0 0 15px; }

.dashedline {
  background: url(../img/dashedline.png) repeat-x 0 0;
  height: 5px;
  margin: 15px 0; }

/* Backgrounds */
.light-brown {
  background: #e6e3cd; }

.brown {
  background: #c3c0ae; }

.beige {
  background: #eeecd9; }

/* Tabs */
.nav-tabs {
  border: 0; }

.nav-tabs > li > a {
  border: 0;
  border-radius: 0;
  font-size: 20px;
  padding: 7px 12px 8px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #e6e3cd;
  cursor: default;
  z-index: 1;
  margin-top: -1px;
  border: 0; }

.nav-tabs > li:first-child > a {
  margin-left: 0; }

.nav-tabs > li > a, .nav-tabs > li > a:focus {
  background-color: #eeecd9; }

.tab-content {
  background: #e6e3cd;
  padding: 16px 30px;
  position: relative; }

.hr {
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  border-width: 1px 0 0 0;
  border-top: 1px solid #E3E3E3;
  margin: 12px 0;
  border-top-color: rgba(0, 0, 0, 0.11); }

.hr-noline {
  border: 0; }

.hr-double {
  height: 3px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  border-top-color: rgba(0, 0, 0, 0.3);
  border-bottom-color: rgba(0, 0, 0, 0.3); }

.hr.dotted,
.hr-dotted {
  border-style: dotted; }

.hr-30,
.hr30 {
  margin: 30px 0; }

.hr-25,
.hr25 {
  margin: 25px 0; }

.hr-20,
.hr20 {
  margin: 20px 0; }

.hr-15,
.hr15 {
  margin: 14px 0; }

.hr-10,
.hr10 {
  margin: 10px 0; }

body {
  font-family: "Open Sans", Tahoma, Arial;
  background-color: #f6f5ee; }

header {
  color: #443f1c; }
  header.masthead .bannercontainer {
    width: 100%;
    position: relative;
    padding: 0; }
  header.masthead .banner {
    width: 100%;
    position: relative; }
  header.masthead h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold; }
  header.masthead .tp-bannertimer {
    background: url("../rs-plugin/assets/timerdot2.png");
    height: 3px; }
  header.masthead .tp-caption {
    font-family: "Open Sans", Tahoma, Arial; }
    header.masthead .tp-caption a {
      color: #2a0101; }
      header.masthead .tp-caption a:hover {
        color: #eeeeee; }
    header.masthead .tp-caption.italic {
      font-style: italic; }
    header.masthead .tp-caption .light_bold {
      font-weight: 300;
      font-size: 30px;
      color: #FFFFFF;
      padding-top: 10px;
      text-align: center; }
    header.masthead .tp-caption.large_white_light {
      font-weight: 300;
      font-size: 40px;
      color: #FFFFFF; }
    header.masthead .tp-caption .btn.btn-naked {
      background: rgba(255, 255, 255, 0.3);
      font-size: 30px;
      font-style: italic;
      font-weight: 300; }
    header.masthead .tp-caption .btn.btn-naked:hover {
      color: #d92340; }
  header.masthead h1, header.masthead h2, header.masthead h3 {
    color: #2a0101;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8); }
  header.masthead .tp-caption.red {
    color: #d92340;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8); }

#wrap {
  padding-top: 70px; }
  #wrap.home {
    padding: 0; }

header:after {
  content: "";
  display: block;
  background: url(../img/shadow-big.png) no-repeat 50% 100%;
  height: 60px; }

/* styling navbar */
#nav {
  width: 100%;
  position: static;
  top: -32px;
  margin-bottom: 0;
  min-height: 100px;
  /*
  &.affix:after {
  	content:"";
  	display:block;
  	background:url(../img/shadow-big.png) no-repeat 50% 100%; height:60px;
  }
  &.affix-top:after {
  	content:"";
  	display:block;
  	background:url(../img/shadow-big.png) no-repeat 50% 100%; height:60px;
  }
  */ }
  #nav.affix {
    position: fixed;
    top: 0;
    z-index: 999;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  #nav .navbar-brand {
    padding: 0;
    height: 85px;
    line-height: 85px; }
    #nav .navbar-brand img {
      margin-top: 0px; }
  #nav.navbar-fixed-top {
    position: fixed;
    top: 0; }
  #nav .navbar-toggle {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 9px; }
    #nav .navbar-toggle i {
      font-size: 2em; }
  #nav .navbar-nav li a {
    padding-top: 25px;
    padding-bottom: 24px;
    font-family: "Open Sans", Tahoma, Arial;
    font-weight: bold;
    color: #443f1c;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    #nav .navbar-nav li a:hover {
      color: #d92340;
      background: none; }
  #nav .navbar-nav li.social-nav {
    margin: 21px 0 4px 10px;
    border-left: 1px solid #eeeeee;
    padding-left: 15px; }
    #nav .navbar-nav li.social-nav a {
      float: left;
      padding: 5px 10px; }
      #nav .navbar-nav li.social-nav a i {
        font-size: 1.33333333em; }
  #nav .navbar-nav li.active a {
    color: #d92340; }

.navbar .wrap1 {
  background: #fff;
  min-height: 100px; }

section {
  margin: 10px 0 40px; }
  section#blankbox {
    height: 300px;
    display: block; }
  section#searchListing #searchhome-tab, section#searchListing #searchagent-tab {
    background: #eeecd9 url(../img/icons-search.png) no-repeat 50% -146px;
    width: 160px;
    height: 55px; }
  section#searchListing #searchagent-tab {
    background-position: 50% -220px; }
  section#searchListing .nav-tabs > li.active > a#searchhome-tab, section#searchListing .nav-tabs > li.active > a#searchhome-tab:hover, section#searchListing .nav-tabs > li.active > a#searchhome-tab:focus {
    background-color: #e6e3cd;
    background-position: 50% 12px; }
  section#searchListing .nav-tabs > li.active > a#searchagent-tab, section#searchListing .nav-tabs > li.active > a#searchagent-tab:hover, section#searchListing .nav-tabs > li.active > a#searchagent-tab:focus {
    background-color: #e6e3cd;
    background-position: 50% -67px; }
  section#searchListing h3 {
    font-weight: 700;
    color: #443f1c;
    font-size: 22px;
    margin: 5px 0; }
  section#searchListing .btn {
    font-size: 16px;
    vertical-align: top; }
  section#searchListing input#searchtxt {
    min-width: 34%; }
  section#searchListing .form-control {
    margin-right: 10px; }
  section#featuredProject .qrcode, section#latestProject .qrcode {
    float: left;
    margin: 10px 10px 10px 0; }
  section#featuredProject p, section#latestProject p {
    font-size: 13px; }
  section#featuredProject h5, section#latestProject h5 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 7px; }
  section#featuredProject .thumb, section#latestProject .thumb {
    background: url(../img/shadow-small.png) no-repeat 50% 100%;
    padding: 0 0 17px; }
  section#featuredProject #container, section#latestProject #container {
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    section#featuredProject #container .item, section#latestProject #container .item {
      margin: 15px auto; }
      section#featuredProject #container .item .details, section#latestProject #container .item .details {
        position: relative; }
        section#featuredProject #container .item .details .info-wrapper, section#latestProject #container .item .details .info-wrapper {
          position: absolute;
          opacity: 0;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          -webkit-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
          background-color: transparent;
          background-color: rgba(0, 0, 0, 0.6);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
          zoom: 1; }
          section#featuredProject #container .item .details .info-wrapper .info .name-tag, section#latestProject #container .item .details .info-wrapper .info .name-tag {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            margin: 0 20px 10px 20px; }
            section#featuredProject #container .item .details .info-wrapper .info .name-tag h5, section#latestProject #container .item .details .info-wrapper .info .name-tag h5 {
              font-size: 16px;
              font-weight: bold;
              color: #fff; }
            section#featuredProject #container .item .details .info-wrapper .info .name-tag span.divider, section#latestProject #container .item .details .info-wrapper .info .name-tag span.divider {
              margin: 10px 0; }
            section#featuredProject #container .item .details .info-wrapper .info .name-tag a, section#latestProject #container .item .details .info-wrapper .info .name-tag a {
              color: yellow; }
            section#featuredProject #container .item .details .info-wrapper .info .name-tag a:hover, section#latestProject #container .item .details .info-wrapper .info .name-tag a:hover {
              color: #FFFFFF; }
          section#featuredProject #container .item .details .info-wrapper .heart, section#latestProject #container .item .details .info-wrapper .heart {
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 50px 50px 0;
            border-color: transparent #d92340 transparent transparent; }
            section#featuredProject #container .item .details .info-wrapper .heart i, section#latestProject #container .item .details .info-wrapper .heart i {
              margin-left: 28px;
              margin-top: 8px;
              display: block;
              color: #FFFFFF; }
      section#featuredProject #container .item:hover .details .info-wrapper, section#latestProject #container .item:hover .details .info-wrapper {
        opacity: 1; }
  section#newsEvents td {
    vertical-align: top;
    font-size: 13px; }
  section#newsEvents h5 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0; }
  section#newsEvents img {
    float: left;
    margin: 0 10px 10px 0;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px rgba(0, 0, 0, 0.2); }
  section#newsEvents .item {
    border-bottom: 1px dashed #c2bfa8;
    padding: 0 0 20px;
    margin: 0 0 20px; }
  section#everywhereCust {
    text-align: center; }
    section#everywhereCust h1 {
      text-transform: uppercase;
      font-size: 35px;
      color: #d92340;
      font-weight: bold;
      margin: 5px 0; }
    section#everywhereCust h2 {
      font-size: 25px;
      color: #d92340;
      font-weight: bold;
      margin: 0; }
    section#everywhereCust p {
      font-size: 16px;
      display: block; }
    section#everywhereCust #chart1 p, section#everywhereCust #chart2 p, section#everywhereCust #chart3 p, section#everywhereCust #chart4 p {
      font-size: 14px;
      text-align: left; }
    section#everywhereCust #chart1 h1, section#everywhereCust #chart2 h1, section#everywhereCust #chart3 h1, section#everywhereCust #chart4 h1 {
      background: url(../img/ekrealtors/everywhere-customer-charts.png) no-repeat 0 0;
      padding: 18px 0 0 55px;
      font-size: 40px;
      color: #d92340;
      display: block; }
      section#everywhereCust #chart1 h1 span, section#everywhereCust #chart2 h1 span, section#everywhereCust #chart3 h1 span, section#everywhereCust #chart4 h1 span {
        font-size: 25px;
        font-weight: normal; }
    section#everywhereCust #chart2 h1 {
      background-position: 0 -177px; }
    section#everywhereCust #chart3 h1 {
      background-position: 0 -353px; }
    section#everywhereCust #chart4 h1 {
      background-position: 0 -529px; }
  section#steps {
    background: #4b4b4b;
    padding: 40px 0; }
    section#steps .circles {
      background: url(../img/ekrealtors/circles.png) no-repeat 56% 0; }
    section#steps .circles img {
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out; }
    section#steps .circles img:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg); }
    section#steps .spacetop img {
      margin-top: 30px; }
    section#steps #titlewrap {
      position: relative; }
    section#steps .imgwrap {
      position: absolute;
      top: 40%;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      /* Align center inline elements */
      font: 0/0 a; }
    section#steps .dummy {
      padding-top: 100%;
      /* forces 1:1 aspect ratio */ }
    section#steps .imgwrap:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    section#steps .imgwrap img {
      vertical-align: middle;
      display: inline-block; }
  section#bigdata {
    color: #0c314d;
    text-align: center;
    font-size: 20px; }
    section#bigdata .titlebig {
      font-size: 80px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: -0.03em; }
    section#bigdata .minwidth {
      min-width: 20px; }
    section#bigdata .maxwidth {
      max-width: 380px; }
    section#bigdata td {
      vertical-align: top; }
    section#bigdata h1 {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 800;
      margin: 0; }
    section#bigdata .arrowwhite {
      background: url(../img/ekrealtors/arrow-white.png) repeat-x 0 0; }
    section#bigdata .top td {
      padding-top: 55px;
      vertical-align: top; }
    section#bigdata .bottom td {
      padding-bottom: 72px; }
    section#bigdata .arrowhead {
      background: url(../img/ekrealtors/arrow-white-head.png) no-repeat 0 0;
      min-width: 132px;
      max-width: 132px; }
    section#bigdata table {
      margin: 0 0 20px; }
  section#features {
    background: url(../img/ekrealtors/bg-green.png) repeat 0 0;
    padding: 30px 0 50px; }
    section#features h2 {
      text-align: center;
      margin: 0 0 30px;
      font-weight: bold; }
    section#features .estate, section#features .kitkat {
      border-bottom-width: 4px; }
    section#features img {
      float: left;
      margin: 0 10px; }
    section#features p {
      font-size: 28px;
      color: #0c314d;
      font-weight: 600;
      margin: 0; }
    section#features h1 {
      font-size: 40px;
      color: #d92340;
      font-weight: 700;
      margin: 0;
      line-height: 32px; }
    section#features .item {
      margin: 0 0 20px; }
    section#features img {
      width: 25%; }
    section#features .item .wrap {
      padding: 0 0 20px;
      border-bottom: 5px dashed #c1d39b; }
  section#pricePlan h2 {
    text-align: center;
    margin: 0 0 30px;
    font-weight: bold; }
  section#pricePlan .estate, section#pricePlan .kitkat {
    border-bottom-width: 4px; }
  section#registerNow {
    background: #383838 url(../img/ekrealtors/bg-diamonds.png) no-repeat 50% 100%;
    color: white;
    text-align: center;
    padding: 40px 0 0; }
    section#registerNow h1 a {
      padding: 11px 0 15px;
      margin: 0 0 30px; }
    section#registerNow h2 {
      font-weight: 700;
      margin: 20px 0; }
    section#registerNow h3 {
      margin: 20px 0 0; }
    section#registerNow a {
      color: #fff;
      display: block; }
  section#whyEkDeveloper {
    background: #dad8cd;
    text-align: center;
    padding: 30px 0; }
    section#whyEkDeveloper h2 {
      margin: 0 0 30px;
      font-weight: bold; }
    section#whyEkDeveloper h5 {
      font-weight: bold;
      min-height: 84px;
      vertical-align: middle;
      display: block;
      padding: 20px 3px;
      border-bottom: 6px solid #f6f5ee;
      line-height: initial; }
    section#whyEkDeveloper .darkgray-highlight {
      color: #fff;
      margin: 0; }
    section#whyEkDeveloper p {
      font-size: 14px;
      font-weight: normal;
      padding: 0 15px;
      display: block; }
    section#whyEkDeveloper .item {
      border: 3px solid #f6f5ee;
      border-width: 0 3px;
      padding: 0;
      min-height: 570px; }
    section#whyEkDeveloper .wrapper {
      border: 3px solid #f6f5ee;
      border-width: 6px 3px;
      padding: 0; }
    section#whyEkDeveloper img {
      margin: 15px auto; }
  section#trend {
    text-align: center; }
    section#trend h1 {
      text-transform: uppercase;
      font-size: 35px;
      color: #d92340;
      font-weight: bold;
      margin: 5px 0; }
    section#trend h2 {
      font-size: 25px;
      color: #d92340;
      font-weight: bold;
      margin: 0; }
    section#trend p {
      font-size: 14px;
      display: block; }
    section#trend img {
      float: left;
      margin: 10px 0 10px 15px; }
  section#ekDevFeatures h2.title {
    text-align: center;
    margin: 0 0 30px;
    font-weight: bold;
    background: #eee78c;
    border: 8px solid #f3efc4;
    border-width: 8px 0;
    padding: 20px 0; }
  section#ekDevFeatures .feature {
    border-bottom: 5px dashed #d5d2be;
    padding-bottom: 30px;
    margin-bottom: 30px; }
    section#ekDevFeatures .feature h2, section#ekDevFeatures .feature h3 {
      display: block; }
    section#ekDevFeatures .feature h2 {
      font-size: 2.3em;
      font-weight: 800; }
    section#ekDevFeatures .feature h3 {
      font-size: 1.1em; }
    section#ekDevFeatures .feature h1 {
      font-size: 2.8em;
      margin: 0;
      color: #d92340;
      font-weight: 700; }
    section#ekDevFeatures .feature .black-highlight {
      margin: 0 0 2px; }
    section#ekDevFeatures .feature h1, section#ekDevFeatures .feature h4 {
      margin: 0 0 0 20px; }
    section#ekDevFeatures .feature h4 {
      font-size: 1.5em; }
  section#ekDevFeatures #ebrochure {
    width: 90%;
    margin: 0 auto; }
    section#ekDevFeatures #ebrochure img {
      float: left;
      margin: 10px 20px; }
  section#ekDevFeatures .arrow li {
    background: url(../img/bullet-double-arrow.png) no-repeat 0 7px;
    padding: 0 0 0 20px; }
  section#ekDevFeatures h1.smaller {
    font-size: 1.7em;
    margin-bottom: 5px; }
  section#ekDevFeatures h4.smaller {
    font-size: 1.3em; }
  section#ekDevFeatures #reg-icons {
    font-size: 1.4em; }
    section#ekDevFeatures #reg-icons i {
      font-size: 1.8em;
      padding: 0 10px 0 0;
      color: #4b4b4b; }
    section#ekDevFeatures #reg-icons li {
      padding: 15px 20px 11px 45px;
      vertical-align: top;
      background: url(../img/bg-arrow.png) no-repeat 0 0;
      margin: 0 0 20px; }
    section#ekDevFeatures #reg-icons li:hover {
      color: #d92340; }
  section#ekDevFeatures .kpi {
    font-size: 1.2em; }
    section#ekDevFeatures .kpi td {
      vertical-align: middle; }
    section#ekDevFeatures .kpi td.text {
      padding: 0 40px; }
    section#ekDevFeatures .kpi img {
      min-width: 150px; }
  section#ekDevFeatures ul#report {
    background: #cdcbbc;
    padding: 20px;
    text-align: center; }
    section#ekDevFeatures ul#report .user, section#ekDevFeatures ul#report .click, section#ekDevFeatures ul#report .social, section#ekDevFeatures ul#report .data {
      background: url(../img/ekdeveloper/icons-reports.png) no-repeat 0 0;
      padding: 17px 10px 17px 50px;
      font-size: 1.2em;
      transition: background-image .5s ease-in-out; }
    section#ekDevFeatures ul#report .user {
      background-position: 77px 11px; }
    section#ekDevFeatures ul#report .user:hover {
      background-position: 77px -87px; }
    section#ekDevFeatures ul#report .click {
      background-position: 18px -198px; }
    section#ekDevFeatures ul#report .click:hover {
      background-position: 18px -312px; }
    section#ekDevFeatures ul#report .social {
      background-position: 80px -428px; }
    section#ekDevFeatures ul#report .social:hover {
      background-position: 80px -562px; }
    section#ekDevFeatures ul#report .data {
      background-position: 67px -708px; }
    section#ekDevFeatures ul#report .data:hover {
      background-position: 67px -849px; }
    section#ekDevFeatures ul#report .click, section#ekDevFeatures ul#report .data {
      background-color: #e0ded1; }
  section#ekDevFeatures .msgbroadcast p {
    text-align: center;
    margin: 10px 0; }

section.well {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-image: url(../img/samples/bk-social.jpg);
  background-attachment: fixed;
  position: relative;
  padding: 45px; }
  section.well:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.65);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A6000000,endColorstr=#A6000000);
    zoom: 1; }
  section.well h2 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold; }
  section.well .breadcrumb {
    background: none;
    float: right;
    margin-bottom: 0;
    padding: 28px 15px 5px 15px; }
    section.well .breadcrumb .active {
      color: #FFFFFF; }

footer#site-footer {
  padding: 0 0 40px;
  background: #d7d5c9; }
  footer#site-footer li {
    background: url(../img/bullet-arrow-grey.png) no-repeat 0 7px;
    padding: 0 0 0 17px; }
  footer#site-footer li:hover {
    background: url(../img/bullet-arrow-red.png) no-repeat 0 7px;
    padding: 0 0 0 17px; }
  footer#site-footer .redblackline {
    background: url(../img/line-redblack.jpg) repeat-x 0 0;
    height: 8px;
    margin: 0 0 30px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8); }
  footer#site-footer span.divider {
    float: none; }
  footer#site-footer a img.top {
    margin: 20px 0; }
  footer#site-footer h3 {
    font-size: 18px; }
  footer#site-footer .section-heading {
    border-color: #c1bda2; }
  footer#site-footer h4 {
    font-size: 17px;
    color: #2d3133; }
  footer#site-footer h5 {
    font-weight: bold;
    font-size: 16px; }
  footer#site-footer h4, footer#site-footer h5 {
    text-align: center; }
  footer#site-footer h3.black-highlight {
    display: block; }
  footer#site-footer .contact {
    background: #c3c0ae;
    padding: 10px 20px;
    font-size: 16px; }
  footer#site-footer .contact .dashedline {
    margin: 5px 0; }
  footer#site-footer ul.links li {
    padding: 0; }
  footer#site-footer ul.links a {
    color: #5f5b3c;
    padding: 0 0 3px 15px;
    border-bottom: 1px dashed #c3c0ae;
    display: block; }
  footer#site-footer ul.links a:hover {
    color: #d92340; }
  footer#site-footer .social {
    margin: 20px 0; }
    footer#site-footer .social li {
      padding: 0;
      background: transparent; }
    footer#site-footer .social .qrcode, footer#site-footer .social .wechat, footer#site-footer .social .facebook, footer#site-footer .social .twitter, footer#site-footer .social .googleplus {
      background: url(../img/icons-social.png) no-repeat 0 0;
      height: 49px;
      display: block;
      float: left; }
    footer#site-footer .social .qrcode {
      width: 65px; }
    footer#site-footer .social .wechat {
      background-position: 0 -79px;
      width: 65px; }
    footer#site-footer .social .facebook {
      background-position: 0 -160px;
      width: 35px; }
    footer#site-footer .social .twitter {
      background-position: 0 -224px;
      width: 49px; }
    footer#site-footer .social .googleplus {
      background-position: 0 -305px;
      width: 43px; }

.media {
  margin: 50px 0;
  text-align: left;
  overflow: hidden; }
  .media a {
    text-decoration: none; }
    .media a.pull-left {
      margin-right: 25px; }
    .media a.pull-right {
      margin-left: 25px; }
    .media a .media-object {
      background: #d92340;
      color: #FFFFFF;
      border: 4px solid #d92340;
      padding: 18px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      -webkit-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      display: block;
      height: 100px;
      width: 100px;
      text-align: center;
      text-decoration: none; }
  .media:hover .media-object {
    background: #FFFFFF;
    color: #d92340;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .media.right {
    text-align: right; }
  .media .media-body h4 {
    color: #000000;
    text-transform: uppercase; }
  .media .media-body p {
    color: #999999; }
  .media.media-circle .media-object {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 10px;
    background: none;
    color: #d92340;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    border: 2px solid #FFFFFF; }
  .media.media-circle:hover .media-object {
    background: #FFFFFF; }
  .media.vertical .media-object {
    background: #FFFFFF;
    width: 70px;
    height: 70px;
    margin: 10px auto;
    color: #555555; }
  .media.vertical .media-body {
    text-align: center; }
  .media.vertical:hover .media-object {
    background: #d92340;
    color: #FFFFFF; }

.go-down {
  position: absolute;
  bottom: 20px;
  right: 49.2%;
  z-index: 999; }
  .go-down a {
    color: #FFFFFF; }

.section-heading {
  display: block;
  border-bottom: 1px solid #d7d3c6;
  margin: 0 0 25px; }
  .section-heading h1 {
    font-size: 45px; }
  .section-heading h1, .section-heading h2 {
    text-transform: uppercase;
    font-weight: bold; }
    .section-heading h1 span, .section-heading h2 span {
      color: #d92340; }
  .section-heading h3 {
    border-bottom: 3px solid #d92340;
    display: inline-block;
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    color: #443f1c; }
  .section-heading h4 {
    color: #555555;
    line-height: 22px; }
  .section-heading i {
    color: #d92340; }
  .section-heading span.divider {
    margin: 20px auto;
    float: none; }
  .section-heading.white {
    color: #FFFFFF; }

span.brandy {
  color: #d92340;
  text-transform: lowercase; }

span.divider {
  height: 10px;
  background: #d92340;
  border-left: 15px solid #000000;
  display: block;
  margin: 20px auto;
  width: 30px;
  position: relative; }
  span.divider:before {
    position: absolute;
    content: ' ';
    top: 0;
    left: -1px;
    width: 1px;
    height: 10px;
    background: #FFF; }
  span.divider.grey {
    border-color: #999999; }
    span.divider.grey:before {
      background: #222222; }

ul {
  list-style: none;
  padding: 0;
  line-height: 25px; }

.img-center {
  margin: 0 auto; }

.carousel-indicators.vertical {
  right: 15px;
  left: inherit;
  margin-left: 0;
  width: 20px;
  bottom: 0px; }
  .carousel-indicators.vertical li {
    display: block;
    margin: 10px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    border: 2px solid #FFFFFF;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .carousel-indicators.vertical li.active {
      margin: 10px 0;
      width: 15px;
      height: 15px;
      border: 2px solid #FFFFFF; }
.carousel-indicators li {
  display: inline-block;
  margin: 10px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 15px;
  height: 15px;
  border: 2px solid #FFFFFF;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .carousel-indicators li.active {
    margin: 10px 0;
    width: 15px;
    height: 15px;
    border: 2px solid #FFFFFF; }

.btn {
  border-radius: 0;
  padding: 9px 18px;
  font-weight: bold;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px rgba(0, 0, 0, 0.2); }

.btn.btn-primary {
  background: #d92340;
  border: none;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .btn.btn-primary:hover {
    background: #c31f3a; }

.btn.btn-empty {
  background: none;
  border: 2px solid #FFFFFF;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .btn.btn-empty:hover {
    background: #FFFFFF;
    color: #d92340; }

.btn:active, .btn.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25); }

.pre-loader {
  position: fixed;
  background: #ecf0f1;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: block; }
  .pre-loader .load-con {
    margin: 20% auto;
    position: relative;
    text-align: center; }

.spinner {
  margin: 50px auto 0;
  width: 70px;
  text-align: center; }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #bdc3c7;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.has-feedback.left .form-control-feedback {
  top: 7px;
  right: inherit;
  left: 0; }
.has-feedback.left .form-control {
  padding-left: 33px;
  padding-right: 0; }

.form-control {
  height: 40px;
  padding: 2px 12px;
  margin: 0 0 10px;
  border-radius: 0;
  border: 0; }

select.form-control {
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px rgba(0, 0, 0, 0.2); }

::-webkit-input-placeholder {
  font-style: italic; }

::-moz-placeholder {
  font-style: italic; }

/* firefox 19+ */
:-ms-input-placeholder {
  font-style: italic; }

/* ie */
input:-moz-placeholder {
  font-style: italic; }

a {
  color: #d92340;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-decoration: none; }
  a:hover {
    color: #811526;
    text-decoration: none; }

.scrollpoint {
  opacity: 0; }
  .scrollpoint.active {
    opacity: 1 \0; }

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden; }

.flex-video.widescreen {
  padding-bottom: 57.25%; }

.flex-video.vimeo {
  padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0; } }
.quote {
  background: #333333;
  color: #FFFFFF;
  border-left: 4px solid #d92340;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  padding: 25px;
  margin-bottom: 15px; }

:focus {
  outline: 0; }

canvas {
  width: 200px !important;
  height: 200px !important;
  display: block;
  float: none; }

@media (max-width: 767px) {
  #nav .navbar-nav li a {
    padding-top: 8px;
    padding-bottom: 8px; }

  .theme-switcher {
    display: none; }

  .navbar-brand {
    margin-left: 20px; }

  header.masthead h1 {
    font-size: 30px; }
  header.masthead h2 {
    font-size: 30px;
    margin-top: 20px; }
  header.masthead h3 {
    font-size: 14px; }
  header.masthead .tp-caption a {
    color: #443f1c; }
  header.masthead h1, header.masthead h2, header.masthead h3 {
    color: #443f1c; } }
.theme-switcher {
  position: absolute;
  margin-top: 20px; }
  .theme-switcher .colors {
    display: none;
    overflow: hidden;
    float: left; }
  .theme-switcher a {
    width: 30px;
    height: 30px;
    float: left;
    display: inline-block; }
    .theme-switcher a.orange {
      background: #ff7f00; }
    .theme-switcher a.blue {
      background: #00bee7; }
    .theme-switcher a.red {
      background: #d92340; }
  .theme-switcher .Switcher {
    color: #999999;
    text-align: center;
    line-height: 28px;
    border: 1px solid #eeeeee; }
    .theme-switcher .Switcher:hover, .theme-switcher .Switcher.active {
      color: #FFFFFF;
      background: #555555;
      border-color: #555555; }

h3 {
  margin: 0; }

.red {
  color: #d92340; }

.black {
  color: #222222; }

.darkblue {
  color: #0c314d; }

.yellow {
  color: yellow; }

.bold {
  font-weight: bold; }

.font-biggest {
  font-size: 22px; }

.font-bigger {
  font-size: 18px; }

.font-big {
  font-size: 16px; }

.shadow {
  background: url(../img/shadow-big.png) no-repeat 50% 100%;
  height: 62px; }

.red-highlight, .black-highlight {
  background: #d92340;
  padding: 5px 15px 7px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin: 0 0 5px; }

.black-highlight {
  background: #222222; }

.darkgray-highlight {
  background: #4b4b4b; }

.estate {
  color: #222222;
  border-bottom: 3px solid #d92340; }

.kitkat {
  color: #d92340;
  border-bottom: 3px solid #222222; }

.estate, .kitkat {
  font-weight: 700;
  margin: 10px 0;
  line-height: 50px; }

.shadow-effect {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8); }

.imgborder {
  border: 5px solid #fefefe; }

@media (max-width: 1200px) {
  section#bigdata {
    font-size: 1.3em; }
    section#bigdata .titlebig {
      font-size: 3em; }
    section#bigdata h1 {
      font-size: 1.5em; }

  section#steps .dummy {
    display: none; }
  section#steps .imgwrap {
    position: relative; }
  section#steps img {
    margin: 0 auto 20px; }
  section#steps .circles {
    background: transparent; }

  section#whyEkDeveloper h5 {
    padding: 20px 3px;
    min-height: 103px; }
  section#whyEkDeveloper .item {
    min-height: 628px; }

  section#ekDevFeatures .feature h1 {
    font-size: 1.8em; }
  section#ekDevFeatures .feature h4 {
    font-size: 1.1em; } }
@media (max-width: 992px) {
  section#whyEkDeveloper .item {
    min-height: 0; }
  section#whyEkDeveloper h5 {
    font-size: 20px; }

  section#ekDevFeatures .kpi td.text {
    padding: 0 5px;
    font-size: .8em; } }
@media (max-width: 950px) {
  section#bigdata {
    font-size: 1.2em; }
    section#bigdata .titlebig {
      font-size: 2.3em; }
    section#bigdata h1 {
      font-size: 1.5em; }

  #registerNow img {
    display: none; } }
@media (max-width: 550px) {
  section#bigdata {
    font-size: 1.2em; }
    section#bigdata .titlebig {
      font-size: 2em; }
    section#bigdata h1 {
      font-size: 1em; }
    section#bigdata .arrowhead {
      display: none; }
    section#bigdata .top td {
      padding-top: 60px; }
    section#bigdata .bottom td {
      padding-bottom: 35px; }

  section#features p {
    font-size: 15px; }
  section#features h1 {
    font-size: 25px; } }
@media (max-width: 480px) {
  section#ekDevFeatures .feature h2 {
    font-size: 1.5em; }
  section#ekDevFeatures .feature h3 {
    font-size: .9em; }
  section#ekDevFeatures .feature h1 {
    font-size: 1.5em; }
  section#ekDevFeatures .feature h1, section#ekDevFeatures .feature h4 {
    margin: 0 0 0 10px; }
  section#ekDevFeatures .feature h4 {
    font-size: 1em; }
  section#ekDevFeatures .feature .black-highlight, section#ekDevFeatures .feature .red-highlight {
    padding: 5px 10px 7px; }
  section#ekDevFeatures #ebrochure {
    width: 90%;
    margin: 0 auto; }
    section#ekDevFeatures #ebrochure img {
      float: none;
      margin: 10px auto; } }
@media (max-width: 430px) {
  .navbar-brand img {
    max-width: 230px; }

  section#searchListing #searchhome-tab, section#searchListing #searchagent-tab {
    width: 100px; }

  #ekdev img, #interactive img {
    zoom: 2 !important; }

  section#bigdata {
    font-size: 1em; }
    section#bigdata .titlebig {
      font-size: 1.2em; }

  section#features p {
    font-size: 25px; }
  section#features h1 {
    font-size: 30px; }

  section#ekDevFeatures #reg-icons {
    font-size: 1.2em; } }

/*# sourceMappingURL=styles.css.map */
