<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Estate Kitkat - Connecting you to your buyers through social selling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery.easy-pie-chart.css">
		<link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/styles.css" title="mainStyle">
	
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

    <script src="js/modernizr.custom.32033.js"></script>

    <!--[if IE]><script type="text/javascript" src="js/excanvas.compiled.js"></script><![endif]-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="pre-loader">
        <div class="load-con">
            <img src="img/logo-ek.png" class="animated fadeInDown" alt="">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>


    <!-- Wrap all page content here -->
    <div id="wrap" class="home">

        <header class="masthead">
            <div class="slider-container" id="slider">
                <div class="tp-banner-container">
                    <div class="tp-banner">
                        <ul>
                            <li data-transition="curtain-3" data-slotamount="7" data-masterspeed="500">
                                <!-- MAIN IMAGE -->
                                <img src="img/dummy.png" data-lazyload="img/banners/bg-yellow.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                                <!-- LAYERS -->
								
								<div class="tp-caption sft fadeout" data-x="center" data-y="center" data-hoffset="0" data-voffset="0" data-speed="800" data-start="1200" data-easing="Power4.easeOut">
                                    <img src="img/banners/phone.png" alt="">
                                </div> 
								 <div class="tp-caption sft fadeout" data-x="left" data-y="center" data-hoffset="200" data-voffset="-40" data-speed="700" data-start="1300" data-easing="easeOutBack">
                                    <img src="img/banners/wechat-bubble.png" alt="">
                                </div>
								<div class="tp-caption lft" data-x="center" data-y="top" data-hoffset="200" data-voffset="80" data-speed="700" data-start="1500" data-easing="easeInCirc">
                                    <img src="img/banners/logo-ek-bg.png" alt="">
                                </div> 
                                <h1 class="tp-caption" data-x="center" data-y="center" data-hoffset="200" data-voffset="-100" data-speed="800" data-start="1700" data-easing="Power4.easeOut">
                                    Connecting
                                </h1>
                                <h1 class="tp-caption" data-x="center" data-y="center" data-hoffset="210" data-voffset="-50" data-speed="800" data-start="1800" data-easing="Power4.easeOut">
                                    Everyone
                                </h1>
                                <h2 class="tp-caption" data-x="center" data-y="center" data-hoffset="200" data-voffset="0" data-speed="800" data-start="1900" data-easing="Power4.easeOut">
                                    To
                                </h2>
                                <h1 class="tp-caption red" data-x="center" data-y="center" data-hoffset="210" data-voffset="40" data-speed="700" data-start="1900" data-easing="Power4.easeOut">
                                    Properties
                                </h1>
								<h2 class="tp-caption" data-x="center" data-y="center" data-hoffset="200" data-voffset="130" data-speed="800" data-start="1900" data-easing="Power4.easeOut">
                                    Through
                                </h2>
								<div class="tp-caption sft fadeout" data-x="center" data-y="center" data-hoffset="200" data-voffset="220" data-speed="800" data-start="1500" data-easing="Power4.easeOut">
                                    <img src="img/banners/wechat-black.png" alt="">
                                </div> 
                                <div class="tp-caption lfb hidden-xs " data-x="left" data-y="center" data-hoffset="0" data-voffset="160" data-speed="1000" data-start="2000" data-easing="Power4.easeOut">
                                    <a href="#whatIsEK" class="btn btn-naked">Learn More About Us <span class="fa fa-angle-right"></span></a>
                                </div>
                            </li>
                            
                           <li data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="500">
                                <!-- MAIN IMAGE -->
                                <img src="img/dummy.png" data-lazyload="img/banners/bg-buildings.jpg" alt="slidebg2" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                                <!-- LAYERS -->
								
								<div id="ekdev" class="tp-caption sft fadeout zoom2" data-x="center" data-y="top" data-hoffset="0" data-voffset="100" data-speed="800" data-start="1000" data-easing="Power4.easeOut">
                                    <img src="img/banners/ek-developer.png" alt="">
                                </div> 
								 <div id="interactive" class="tp-caption sft fadeout" data-x="center" data-y="center" data-hoffset="0" data-voffset="0" data-speed="700" data-start="1300" data-easing="easeOutBack">
                                    <img src="img/banners/interactive.png" alt="">
                                </div>
                                <div class="tp-caption lfb " data-x="center" data-y="bottom" data-hoffset="0" data-voffset="-140" data-speed="1000" data-start="2000" data-easing="Power4.easeOut">
                                    <a href="#" class="btn btn-naked">Find Out More Here <span class="fa fa-angle-right"></span></a>
                                </div>
                            </li>

                        </ul>
                        <div class="tp-bannertimer"></div>
                    </div>
                </div>

            </div>



            <!-- Fixed navbar -->
            <div class="navbar" id="nav" role="navigation">
				<div class="wrap1">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<i class="fa fa-align-justify"></i>
							</button>
							<a class="navbar-brand" href="#">
								<img src="img/logo-ek.png" alt="">
							</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="#slider">Home</a>
								</li>
								<!-- <li><a href="#propertylisting">Property Listing</a>
								</li> -->
								<li><a href="/ekdeveloper.html"><span class="red">ek</span>Developer</a>
								</li>
								<li><a href="/ekrealtors.html"><span class="red">ek</span>Realtors</a>
								</li>
								<!-- <li><a href="#ekexhibitor"><span class="red">ek</span>Exhibitor</a>
								</li> -->
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!--/.container -->
				</div>
            </div><!--/.navbar -->
        </header>
		
		
		<section id="whatIsEK">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 scrollpoint sp-effect1">
                        <div class="section-heading">
                            <h3><i class="media-object fa fa-map-marker"></i> What is Estate Kitkat</h3>
                        </div>
						<div class="row">
							<div class="col-md-5"><img src="img/hold-phone.png" class="img-responsive img-center" /></div>
							<div class="col-md-7 centered">
								<h2 class="red-highlight">Sell, Buy, Rent</h2>
								<h4 class="black-highlight font-biggest">Advertise or Launch a Property</h4>
								<div class="font-bigger">on <img src="img/logo-ek-small.png" /> <h3 class="estate displayinline">Estate</h3><h3 class="kitkat displayinline">Kitkat</h3></div>
								<div class="font-big">by being connected to <img src="img/logo-wechat.png" /> <h3 class="black displayinline bold">WeChat</h3></div>
								<p class="font-bigger red centered bold"><em>Just a few swipes and taps, or clicks with this mobile platform, anytime, from anywhere.</em></p>
								<p class="centered">EstateKitKat is here to further boost the property and tourism industries. Built for the tech-savvy generation of today and tomorrow, it comes coated with every inch of convenience.</p>
							</div>
						</div>
                    </div>
                    <div class="col-md-5 scrollpoint sp-effect2">
						<div class="section-heading">
                            <h3><i class="media-object fa fa-video-camera"></i> Introduction to Estate KitKat Video</h3>
                        </div>
                        <video style="width:100%;height:auto" controls>
							<source src="http://www.estatekitkat.com/assets/video/Estatekitkat3.webm" type="video/webm">
							<source src="http://www.estatekitkat.com/assets/video/Estatekitkat3.mp4" type="video/mp4">
							I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
						</video>
                    </div>
                </div>
            </div>
        </section>
     
        <!-- <section id="searchListing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 scrollpoint sp-effect5">
                        <ul id="searchTab" class="nav nav-tabs" role="tablist">
						  <li role="presentation" class="active"><a href="#searchHome" id="searchhome-tab" role="tab" data-toggle="tab" aria-controls="searchhome" aria-expanded="true"></a></li>
						  <li role="presentation"><a href="#searchAgent" role="tab" id="searchagent-tab" data-toggle="tab" aria-controls="searchagent"></a></li>
						</ul>
						<div id="searchTabContent" class="tab-content">
						  <div role="tabpanel" class="tab-pane fade in active" id="searchHome" aria-labelledBy="searchhome-tab">
							<div class="row">
								<div class="col-md-5"><h3>Find Malaysia Property & Real Estate</h3></div>
								<div class="col-md-4">
									<a class="btn btn-primary active" href="#" role="button">Residential</a>
									<a class="btn btn-default" href="#" role="button">Commercial</a>
								</div>
								<div class="col-md-2 col-md-push-1"><a href="#">More options &gt;&gt;</a></div>
							</div>
							<div class="dashedline"></div>
								
							<form class="form-inline">
								<input id="searchtxt" type="text" class="form-control" placeholder="Enter Property Name, Postcode, or Street">
								<select class="form-control">
								  <option>For Sale</option>
								  <option>For Rent</option>
								  <option>For Auction</option>
								</select>
							
								<select class="form-control">
								  <option>All Types</option>
								  <option>Bungalow / Villa</option>
								  <option>Semi-Detached</option>
								</select>
							
								<select class="form-control">
								  <option>Min Price</option>
								  <option>No Min Price</option>
								  <option>RM200,000</option>
								</select>
							
								<select class="form-control">
								  <option>Max Price</option>
								  <option>No Max Price</option>
								  <option>RM200,000</option>
								</select>
							
								<a class="btn btn-primary" href="#" role="button"><i class="fa fa-search yellow"></i> Find!</a>
							</form>
							<div class="dashedline"></div>
						  </div>
						
						  <div role="tabpanel" class="tab-pane fade" id="searchAgent" aria-labelledBy="searchagent-tab">
							<div class="row">
								<div class="col-md-12"><h3>Find Property &amp; Real Estate Agent</h3></div>
							</div>
							<div class="dashedline"></div>
							<form class="form-inline">
								<input id="searchtxt" type="text" class="form-control" placeholder="Enter Agent Name">
								<input type="text" class="form-control" placeholder="Enter Phone No.">
								<select class="form-control">
								  <option>Select State</option>
								  <option>Penang</option>
								  <option>Selangor</option>
								</select>
								<a class="btn btn-primary" href="#" role="button"><i class="fa fa-search yellow"></i> Find!</a>
							</form>
							<div class="dashedline"></div>
						  </div>
						</div>
                    </div>
                </div>
            </div>
        </section> -->

        <section id="featuredProject">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 scrollpoint sp-effect4">
                        <div class="section-heading">
                            <h3><i class="media-object fa fa-star"></i> Featured Projects</h3>
                        </div>
						
						<div id="container">
						  <div class="row">
							<div class="col-md-3 item">
								<div class="details">
									<img  class="thumb img-responsive" src="img/sample/featured.jpg"/>
									<img class="qrcode" src="img/qrcode-project.jpg" />
									<div>
										<h5>The Clovers</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing..</p>
									</div>
									<div class="info-wrapper">
										<span class="heart"><i class="fa fa-star"></i>
										</span>
										<div class="info">
											<div class="name-tag">
												<h5>Scan QRcode to view in WeChat</h5>
												<span class="divider"></span>
												<p><a href="#">Or click here for details</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 item">
								<div class="details">
									<img  class="thumb img-responsive" src="img/sample/featured.jpg"/>
									<img class="qrcode" src="img/qrcode-project.jpg" />
									<div>
										<h5>The Clovers</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing..</p>
									</div>
									<div class="info-wrapper">
										<span class="heart"><i class="fa fa-star"></i>
										</span>
										<div class="info">
											<div class="name-tag">
												<h5>Scan QRcode to view in WeChat</h5>
												<span class="divider"></span>
												<p><a href="#">Or click here for details</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 item">
								<div class="details">
									<img  class="thumb img-responsive" src="img/sample/featured.jpg"/>
									<img class="qrcode" src="img/qrcode-project.jpg" />
									<div>
										<h5>The Clovers</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing..</p>
									</div>
									<div class="info-wrapper">
										<span class="heart"><i class="fa fa-star"></i>
										</span>
										<div class="info">
											<div class="name-tag">
												<h5>Scan QRcode to view in WeChat</h5>
												<span class="divider"></span>
												<p><a href="#">Or click here for details</a></p>
											</div>
										</div>
									</div>
								</div>
							</div><div class="col-md-3 item">
								<div class="details">
									<img  class="thumb img-responsive" src="img/sample/featured.jpg"/>
									<img class="qrcode" src="img/qrcode-project.jpg" />
									<div>
										<h5>The Clovers</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing..</p>
									</div>
									<div class="info-wrapper">
										<span class="heart"><i class="fa fa-star"></i>
										</span>
										<div class="info">
											<div class="name-tag">
												<h5>Scan QRcode to view in WeChat</h5>
												<span class="divider"></span>
												<p><a href="#">Or click here for details</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						  </div>
						</div>
                    </div>
                </div>
            </div>
        </section>
		
		<section id="latestProject">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 scrollpoint sp-effect4">
                        <div class="section-heading">
                            <h3><i class="media-object fa fa-home"></i> Properties of the Month</h3>
                        </div>
						
						<div id="container">
						  <div class="row">
							<div class="col-md-3 item">
								<div class="details">
									<img  class="thumb img-responsive" src="img/sample/featured.jpg"/>
									<img class="qrcode" src="img/qrcode-project.jpg" />
									<div>
										<h5>Putrajaya Presint 14 Corner Super Link Hou...</h5>
										<p>Area: <strong>Putrajaya</strong></p>
									</div>
									<p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing..</p>
									<div class="info-wrapper">
										<span class="heart"><i class="fa fa-home"></i>
										</span>
										<div class="info">
											<div class="name-tag">
												<h5>Scan QRcode to view in WeChat</h5>
												<span class="divider"></span>
												<p><a href="#">Or click here for details</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 item">
								<div class="details">
									<img  class="thumb img-responsive" src="img/sample/featured.jpg"/>
									<img class="qrcode" src="img/qrcode-project.jpg" />
									<div>
										<h5>Putrajaya Presint 14 Corner Super Link Hou...</h5>
										<p>Area: <strong>Putrajaya</strong></p>
									</div>
									<p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing..</p>
									<div class="info-wrapper">
										<span class="heart"><i class="fa fa-home"></i>
										</span>
										<div class="info">
											<div class="name-tag">
												<h5>Scan QRcode to view in WeChat</h5>
												<span class="divider"></span>
												<p><a href="#">Or click here for details</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 item">
								<div class="details">
									<img  class="thumb img-responsive" src="img/sample/featured.jpg"/>
									<img class="qrcode" src="img/qrcode-project.jpg" />
									<div>
										<h5>Putrajaya Presint 14 Corner Super Link Hou...</h5>
										<p>Area: <strong>Putrajaya</strong></p>
									</div>
									<p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing..</p>
									<div class="info-wrapper">
										<span class="heart"><i class="fa fa-home"></i>
										</span>
										<div class="info">
											<div class="name-tag">
												<h5>Scan QRcode to view in WeChat</h5>
												<span class="divider"></span>
												<p><a href="#">Or click here for details</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 item">
								<div class="details">
									<img  class="thumb img-responsive" src="img/sample/featured.jpg"/>
									<img class="qrcode" src="img/qrcode-project.jpg" />
									<div>
										<h5>Putrajaya Presint 14 Corner Super Link Hou...</h5>
										<p>Area: <strong>Putrajaya</strong></p>
									</div>
									<p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing..</p>
									<div class="info-wrapper">
										<span class="heart"><i class="fa fa-home"></i>
										</span>
										<div class="info">
											<div class="name-tag">
												<h5>Scan QRcode to view in WeChat</h5>
												<span class="divider"></span>
												<p><a href="#">Or click here for details</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						  </div>
						</div>
                    </div>
                </div>
            </div>
        </section>
		
       <section id="newsEvents">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 scrollpoint sp-effect1">
                        <div class="section-heading">
                            <h3><i class="media-object fa fa-calendar"></i> Upcoming Events</h3>
                        </div>
						<div class="item scrollpoint sp-effect1">
							<img src="img/sample/auction.jpg" class="thumb img-responsive" />
							<h5><a href="3">HLBB Auctvions-4 Lots</a></h5>
							<table>
								<tr><td>Date</td><td class="colonstyle">:</td><td>28th February 2015, 3:00pm</td></tr>
								
								<tr><td>Venue</td><td class="colonstyle">:</td><td>At 1926 Heritage Hotel, Room Red Ginger 11, No.227, Jalan Burma, 10050, Penang.</td></tr>
								<tr><td>Tel</td><td class="colonstyle">:</td><td>017-4006661</td></tr>
							</table>
						</div>
						<div class="item scrollpoint sp-effect1">
							<img src="img/sample/2015-talk.jpg" class="thumb img-responsive" />
							<h5><a href="3">HLBB Auctvions-4 Lots</a></h5>
							<table>
								<tr><td>Date</td><td class="colonstyle">:</td><td>28th February 2015, 3:00pm</td></tr>
								
								<tr><td>Venue</td><td class="colonstyle">:</td><td>At 1926 Heritage Hotel, Room Red Ginger 11, No.227, Jalan Burma, 10050, Penang.</td></tr>
								<tr><td>Tel</td><td class="colonstyle">:</td><td>017-4006661</td></tr>
							</table>
						</div>
						<div class="item scrollpoint sp-effect1">
							<img src="img/sample/auction.jpg" class="thumb img-responsive" />
							<h5><a href="3">HLBB Auctvions-4 Lots</a></h5>
							<table>
								<tr><td>Date</td><td class="colonstyle">:</td><td>28th February 2015, 3:00pm</td></tr>
								
								<tr><td>Venue</td><td class="colonstyle">:</td><td>At 1926 Heritage Hotel, Room Red Ginger 11, No.227, Jalan Burma, 10050, Penang.</td></tr>
								<tr><td>Tel</td><td class="colonstyle">:</td><td>017-4006661</td></tr>
							</table>
						</div>
                    </div>
                    <div class="col-md-6 scrollpoint sp-effect2">
						<div class="section-heading">
                            <h3><i class="media-object fa fa-file-text"></i> Latest Sharing</h3>
                        </div>
                        <div class="item scrollpoint sp-effect2">
							<img src="img/sample/gst.jpg" class="thumb img-responsive" />
							<h5><a href="3">How Will GST Impact Home Prices & Property Market?</a></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation laboris...</p>
						</div>
						<div class="item scrollpoint sp-effect2">
							<img src="img/sample/komtar.jpg" class="thumb img-responsive" />
							<h5><a href="3">Penang's Residential Market Likely To Slowdown In...</a></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation laboris...</p>
						</div>
						<div class="item scrollpoint sp-effect2">
							<img src="img/sample/livingroom.jpg" class="thumb img-responsive" />
							<h5><a href="3">The Tamarind Show Units Get the IKEA Treatment</a></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation laboris...</p>
						</div>
                    </div>
                </div>
            </div>
        </section>
		
		<section id="featuredDeveloper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 scrollpoint sp-effect4">
                        <div class="section-heading">
                            <h3><i class="media-object fa fa-star"></i> Featured Developer</h3>
                        </div>
					</div>
				</div>
				
				<!--
				<div id="clients-flexslider" class="flexslider home clients">
           
					<ul class="slides">
						<li>
							<a href="#">
								<img src="img/developers/ideal-group.png" alt=""> 
								<img src="img/developers/ideal-group.png" class="color-img" alt="">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="assets/img/clients/igneus_grey.png" alt=""> 
								<img src="assets/img/clients/igneus.png" class="color-img" alt="">
							</a>
						</li>
					</ul>
				</div><!--/flexslider-->
				
				
			</div>
		</section>

        <footer id="site-footer">
			<div class="redblackline"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
						<img src="img/logo-ek-small-2.png" class="img-responsive img-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
					</div>
					<div class="col-md-2">
						 <div class="section-heading">
							<h3>Useful Links</h3>
						 </div>
						<ul class="links">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Property Listing</a></li>
							<li><a href="#">Project Listing</a></li>
							<li><a href="#">EK Developer</a></li>
							<li><a href="#">EK Realtor</a></li>
							<li><a href="#">EK Exhibitor</a></li>
							<li><a href="#">Upcoming events</a></li>
							<li><a href="#">Blog Sharing</a></li>
						</ul>
				
					</div>
					<div class="col-md-3">
						<div class="section-heading"><h3>Subscribe with Us</h3></div>
						<h4>Don't miss out the <strong>LATEST News &amp; Updates</strong> on <strong>Properties</strong> in Malaysia!</h4>
						<h5 class="red">Join our newsletter today!</h5>
						<div class="dashedline"></div>
						<div><input id="searchtxt" type="text" class="form-control" placeholder="Enter your email address"></div>
						<div><input id="searchtxt" type="text" class="form-control" placeholder="Enter your name"></div>
						<div class="dashedline"></div>
						<div class="centered"><a class="btn btn-primary active" href="#" role="button"><i class="fa fa-rss yellow"></i> Subscribe</a></div>
					</div>
					<div class="col-md-3">
						<div class="section-heading"><h3>Get In Touch with Us</h3></div>
						<h3 class="black-highlight">We <span class="red">CHAT</span> Properties!</h3>
						<p>Let us know how we can help you.</p>
						<div class="contact">
							<div><i class="fa fa-phone-square red"></i> <strong>+6016- 4477 029</strong> (Chaw)</div>
							<div class="dashedline"></div>
							<div><i class="fa fa-phone-square red"></i> <strong>+6017- 9191 774</strong> (Marcus)</div>
						</div>
						<ul class="social">
							<li><a class="qrcode" href="#" data-toggle="tooltip" data-placement="bottom" title="Scan the QR code to visit our WeChat Official Account"></a></li>
							<li><a class="wechat" href="#" data-toggle="tooltip" data-placement="bottom" title="Scan the QR code to visit our WeChat Official Account"></a></li>
							<li><a class="facebook" href="#" data-toggle="tooltip" data-placement="bottom" title="Click to visit our Facebook page"></a></li>
							<li><a class="twitter" href="#" data-toggle="tooltip" data-placement="bottom" title="Click to visit our Twitter Account"></a></li>
							<li><a class="googleplus" href="#" data-toggle="tooltip" data-placement="bottom" title="Click to visit our Google+ page"></a></li>
						</ul>
					</div>
                </div>
            </div>
        </footer>
    </div>
    <!--/wrap-->
	

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/jquery.easypiechart.min.js"></script>

    <!-- jQuery REVOLUTION Slider  -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
	
    <script src="js/waypoints.min.js"></script>
    <script src="js/script.js"></script>

    <script>
    $(document).ready(function() {
        appMaster.preLoader();
        appMaster.smoothScroll();
        appMaster.animateScript();
        appMaster.navSpy();
        appMaster.revSlider();
        appMaster.stellar();
        appMaster.skillsChart();
        appMaster.maps();
        appMaster.isoTop();
        appMaster.canvasHack();
    });
    </script>
	
	<!-- inline scripts related to this page -->
	<script type="text/javascript">
		jQuery(function($) {
			$('#searchTab a').click(function (e) {
			  e.preventDefault()
			  $(this).tab('show')
			})
		});
		
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		  
		})
	</script>	

</body>

</html>
