<div class="row" id="content_div">
  <div class="col-lg-12">

    <div class="panel">
      <div class="panel-heading">
        <div class="panel-control">
          <a class="fa fa-question-circle fa-lg fa-fw unselectable add-tooltip" href="#" data-original-title="<h4 class='text-thin'>Information</h4><p style='width:150px'>Click on the client name for more detail.</p>" data-html="true" title=""></a>
        </div>
        <h3 class="panel-title">User</h3>
      </div>

      <div class="panel-body">
        <div class="pad-btm form-inline">
          <div class="row">
            <div class="col-sm-6 table-toolbar-left">
              <button id="add_client_btn" class="btn btn-purple btn-labeled fa fa-plus">
                New User
              </button>
              <!-- <div class="btn-group btn-group">
                <button class="btn btn-default"><i class="fa fa-exclamation-circle"></i></button>
                <button class="btn btn-default"><i class="fa fa-trash"></i></button>
              </div> -->
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Company</th>
                <th>Full Name</th>
                <th>Display Name</th>
                <th>Email</th>
                <th class="text-center">Type</th>
                <th class="text-center">Status</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.company.name %></td>
                  <td><%= user.username %></td>
                  <td><%= user.display_name %></td>
                  <td><%= user.email %></td>
                  <td class="text-center"><%= user.type %></td>
                  <td class="text-center">
                    <% if user.is_active? %>
                      <span class="label label-primary"><%= user.status %></span>
                    <% else %>
                      <span class="label label-danger"><%= user.status %></span>
                    <% end %>
                    
                    </td>
                  <td class="text-center">
                    <%= link_to 'Show', user, :class=>"btn btn-small btn-warning #{user.id == current_user.id ? 'disabled' : nil}" %>

                    <% if user.is_active? %>
                      <%= link_to 'Suspend', suspend_user_path(user), class: "btn btn-small btn-danger #{user.id == current_user.id ? 'disabled' : nil}", method: :delete, data: {:confirm => "Are you sure you want to suspend the user? "} %>
                    <% else %>
                      <%= link_to 'Activate', activate_user_path(user), class: "btn btn-small btn-info #{user.id == current_user.id ? 'disabled' : nil}", data: {:confirm => "Are you sure you want to activate the user? "} %>
                    <% end %>
                   </td>
                </tr>
              <% end %>
             
            </tbody>
          </table>
          </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  
  $("#add_client_btn").click(function() {
    window.location.href='<%= new_user_path %>';
  });
</script>