
<%= form_tag create_lot_reservations_path, :multipart => true, :class => "panel-body form-horizontal form-padding" do %>

  <%= hidden_field_tag "lot_id", nil, value: @lot.id %>

  <% if @customization.full_name? %>
    <div class="form-group">
      <label class="col-md-3 control-label" for="buyer_full_name">Buyer name: </label>
      <div class="col-md-9">
        <input type="text" id="buyer_full_name" name="buyer[full_name]" class="form-control" placeholder="Full name" value="<%= @buyer.full_name %>" <%= @customization.full_name_required? ? 'required' : nil %> >
        <% if @customization.full_name_required?  %>
          <small class="help-block">Required field</small>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @customization.buyer_second_name? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_buyer_second_name"></label>
    <div class="col-md-9">
      <input type="text" id="buyer_buyer_second_name" name="buyer[buyer_second_name]" class="form-control" placeholder="Second Buyer Name" value="<%= @buyer.buyer_second_name %>" <%= @customization.buyer_second_name_required? ? 'required' : nil %> >
      <% if @customization.buyer_second_name_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.buyer_third_name? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_buyer_third_name"></label>
    <div class="col-md-9">
      <input type="text" id="buyer_buyer_third_name" name="buyer[buyer_third_name]" class="form-control" placeholder="Third Buyer Name" value="<%= @buyer.buyer_third_name %>" <%= @customization.buyer_third_name_required? ? 'required' : nil %> >
      <% if @customization.buyer_third_name_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.email? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_email">Email: </label>
    <div class="col-md-9">
      <input type="text" id="buyer_email" name="buyer[email]" class="form-control" placeholder="Email" value="<%= @buyer.email %>" <%= @customization.email_required? ? 'required' : nil %>>
      <small class="help-block">You can separate multiple email addresses with a comma.</small>
      <small class="help-block">Example : user1@domain.com, user2@domain.com</small>
      <% if @customization.email_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.ic_number? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_ic_number">IC Number: </label>
    <div class="col-md-9">
      <input type="text" id="buyer_ic_number" name="buyer[ic_number]" class="form-control" placeholder="IC number" value="<%= @buyer.ic_number %>" <%= @customization.ic_number_required? ? 'required' : nil %>  maxlength="12" minlength="12">
      <small class="help-block">
        Example : 801023075488
        <% if @customization.ic_number_required? %>, Required field.<% end %>
      </small>
    </div>
  </div>
  <% end %>

  <% if @customization.second_ic_number? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_second_ic_number"></label>
    <div class="col-md-9">
      <input type="text" id="buyer_second_ic_number" name="buyer[second_ic_number]" class="form-control" placeholder="Second Buyer IC Number" value="<%= @buyer.second_ic_number %>" maxlength="12" minlength="12" <%= @customization.second_ic_number_required? ? 'required' : nil %> >
      <% if @customization.second_ic_number_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.third_ic_number? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_third_ic_number"></label>
    <div class="col-md-9">
      <input type="text" id="buyer_third_ic_number" name="buyer[third_ic_number]" class="form-control" placeholder="Third Buyer IC Number" value="<%= @buyer.third_ic_number %>" maxlength="12" minlength="12" <%= @customization.third_ic_number_required? ? 'required' : nil %> >
      <% if @customization.third_ic_number_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.address? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_address">Address: </label>
    <div class="col-md-9">
      <textarea id="buyer_address" name="buyer[address]" rows="4" class="form-control" <%= @customization.address_required? ? 'required' : nil %>><%= @buyer.address %></textarea>
      <% if @customization.address_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.postcode? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_postcode">Postcode: </label>
    <div class="col-md-9">
      <input type="text" id="buyer_postcode" name="buyer[postcode]" rows="4" class="form-control" <%= @customization.postcode_required? ? 'required' : nil %>><%= @buyer.postcode %></input>
      <% if @customization.postcode_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.gender? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_gender">Gender: </label>
    <div class="col-md-9">
      <%= radio_button_tag "buyer[gender]", 1, @buyer.gender == 1 %> Male
      <%= radio_button_tag "buyer[gender]", 2, @buyer.gender == 2 %> Female
      <% if @customization.gender_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.age? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_age">Age: </label>
    <div class="col-md-9">
      <!-- <input type="text" id="buyer_age" name="buyer[age]" class="form-control" placeholder="Age" value=""> -->
    <select class="selectpicker" name="buyer[age]"  <%= @customization.age_required? ? 'required' : nil %> >
      <option value="">Select An Option</option>
      <option value="1" <%= @buyer.age == 1 ? 'selected' : nil %> >18-30</option>
      <option value="2" <%= @buyer.age == 2 ? 'selected' : nil %> >31-40</option>
      <option value="3" <%= @buyer.age == 3 ? 'selected' : nil %> >41-50</option>
      <option value="4" <%= @buyer.age == 4 ? 'selected' : nil %> >51-60</option>
      <option value="5" <%= @buyer.age == 5 ? 'selected' : nil %> >61 & above</option>
    </select>
    <% if @customization.age_required?  %>
      <small class="help-block">Required field</small>
    <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.region_id? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_region_id">Region: </label>
    <div class="col-md-9">
      <!-- <input type="text" id="buyer_region" name="buyer[region]" class="form-control" placeholder="Region" value=""> -->
      <select class="selectpicker" name="buyer[region_id]" <%= @customization.region_id_required? ? 'required' : nil %> >
        <option value="">Select An Option</option>
        <% @region.each do |p| %>
          <option value="<%= p.id %>" <%= @buyer.region_id == p.id ? 'selected' : nil %> ><%= p.name %></option>
        <% end %>
      </select>
      <% if @customization.region_id_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.race? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_race">Race: </label>
    <div class="col-md-9">
    <select class="selectpicker" name="buyer[race]" id="buyer_race" <%= @customization.race_required? ? 'required' : nil %> >
      <option value="">Select An Option</option>
      <option value="1" <%= @buyer.race == 1 ? 'selected' : nil %> >Chinese</option>
      <option value="2" <%= @buyer.race == 2 ? 'selected' : nil %> >Bumiputera</option>
      <option value="3" <%= @buyer.race == 3 ? 'selected' : nil %> >Indian</option>
      <option value="4" <%= @buyer.race == 4 ? 'selected' : nil %> >Other</option>
    </select>
    <% if @customization.race_required?  %>
      <small class="help-block">Required field</small>
    <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.mobile_contact_number? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_mobile_contact_number">Contact Number: </label>
    <div class="col-md-9">
      <input type="text" id="buyer_mobile_contact_number" name="buyer[mobile_contact_number]" class="form-control" placeholder="Mobile Contact Number" value="<%= @buyer.mobile_contact_number %>">
      <small class="help-block">
        <% if @customization.race_required?  %>Required field. <% end %>
        Example : 0129998888
      </small>
    </div>
  </div>
  <% end %>
  
  <% if @customization.home_contact_number? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_home_contact_number"></label>
    <div class="col-md-9">
      <input type="text" id="buyer_home_contact_number" name="buyer[home_contact_number]" class="form-control" placeholder="Second Contact Number" value="<%= @buyer.home_contact_number %>" <%= @customization.home_contact_number_required? ? 'required' : nil %> >
      <% if @customization.home_contact_number_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.office_contact_number? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_office_contact_number"></label>
    <div class="col-md-9">
      <input type="text" id="buyer_office_contact_number" name="buyer[office_contact_number]" class="form-control" placeholder="Third Contact Number" value="<%= @buyer.office_contact_number %>" <%= @customization.office_contact_number_required? ? 'required' : nil %> >
      <% if @customization.office_contact_number_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.sources_type_id? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_sources_type_id">How did you hear about us? </label>
    <div class="col-md-9">
     <!--  <input type="text" id="buyer_sources" name="buyer[sources]" class="form-control" placeholder="Newspaper? Internet?" value=""> -->
     <select class="selectpicker" name="buyer[sources_type_id]" <%= @customization.sources_type_id_required? ? 'required' : nil %> >
        <option value="">Select An Option</option>
        <% @sourcestype.each do |p| %>
          <option value="<%= p.id %>" <%= @buyer.sources_type_id == p.id ? 'selected' : nil %> ><%= p.name %></option>
        <% end %>
      </select>
      <% if @customization.sources_type_id_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.booking_fee %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_booking_fee">Booking Fee: </label>
    <div class="col-md-9">
      <input type="number" id="buyer_booking_fee" name="booking_fee" class="form-control" placeholder="Booking Fee" value="<%= @sale.booking_fee %>" <%= @customization.booking_fee_required? ? 'required' : nil %> >
      <% if @customization.booking_fee_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.car_park? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_car_park">Car Park: </label>
    <div class="col-md-9">
      <input type="text" id="buyer_car_park" name="buyer[car_park]" class="form-control" placeholder="Car Park" value="<%= @buyer.car_park %>" <%= @customization.car_park_required? ? 'required' : nil %> >
      <% if @customization.car_park_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>
  <hr>
  <% if @customization.cash? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_cash">Cash: </label>
    <div class="col-md-9">
        <input type="text" id="sale_cash" name="cash" class="form-control" placeholder="Cash" value="<%= @sale.cash? ? @sale.cash : nil %>" <%= @customization.cash_required? ? 'required' : nil %> >
      <% if @customization.cash_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.bank_loan? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_bank_loan">Bank Loan: </label>
    <div class="col-md-9">
      <input type="text" id="sale_bank_loan" name="bank_loan" class="form-control" placeholder="Bank Loan" value="<%= @sale.bank_loan? ? @sale.bank_loan : nil %>" <%= @customization.bank_loan_required? ? 'required' : nil %> >
      <% if @customization.bank_loan_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.government_loan? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_government_loan">Government Loan: </label>
    <div class="col-md-9">
      
        <input type="text" id="sale_government_loan" name="government_loan" class="form-control" placeholder="Government Loan" value="<%= @sale.government_loan? ? @sale.government_loan : nil %>" <%= @customization.government_loan_required? ? 'required' : nil %> >
      
      <% if @customization.government_loan_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @customization.staff_loan? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_staff_loan">Staff Loan: </label>
    <div class="col-md-9">
      <input type="text" id="sale_staff_loan" name="staff_loan" class="form-control" placeholder="Staff Loan" value="<%= @sale.staff_loan? ? @sale.staff_loan : nil %>" <%= @customization.staff_loan_required? ? 'required' : nil %> >
      <% if @customization.staff_loan_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>
  <hr>
  <div class="form-group">
    <label class="col-md-3 control-label" for="payment_image">Upload payment images: </label>
    <div class="col-md-9 upload_payments_wrapper">
      <div class="upload_fields">
        <input type="file" name="payment_image[]" class="form-control" <% @setting.attach_payment_image? ? "required" : nil %> >
      <% 4.times do %>
        <input type="file" name="payment_image[]" class="form-control" >
      <% end %>
      </div>
      <!-- <button class="add_more_photo_button btn btn-info">Add more photo</button> -->
    </div>
  </div>

  <% if @customization.remark? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_remark">Remark: </label>
    <div class="col-md-9">
      <textarea id="buyer_remark" name="buyer[remark]" rows="4" class="form-control" <%= @customization.remark_required? ? 'required' : nil %>><%= @buyer.remark %></textarea>
      <% if @customization.remark_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>
  
 <!--  <div class="form-group">
    <label class="col-md-3 control-label" for="buyer_is_bumi_putera">Bumi Putera unit: </label>
    <div class="col-md-9">
      <input name="buyer[is_bumi_putera]" type="checkbox" value="true" />
    </div>
  </div> -->

  
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
        <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
        <!-- <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button> -->
      </div>
    </div>
  </div>

<% end %>

<!-- <script type="text/javascript">
  
//   $("#back_btn").click(function(e){
//     e.preventDefault();
//       window.location.href='<%#= reservation_path(@lot.product) %>';
//   });
// </script>
-->



  

