<div class="row" id="content_div">
  <div class="col-lg-12">

      <div class="panel">
        <div class="panel-heading">
            <div class="panel-control">
                <a class="fa fa-question-circle fa-lg fa-fw unselectable add-tooltip" href="#" data-original-title="<h4 class='text-thin'>Information</h4><p style='width:150px'>Click on the project name for more detail.</p>" data-html="true" title=""></a>
            </div>
            <h3 class="panel-title">Selling Projects</h3>
        </div>

        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Project</th>
                  <th>Phase</th>
                  <th>Status</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @products.each do |product| %>
                  <tr>
                    <td><%= product.name %></td>
                    <td><%= product.phase.project.name %></td>
                    <td><%= product.phase.name %></td>
                    <td><%= product.status %></td>
                    <td class="text-center">
                      <%= link_to "Reservation", reservation_path(product), :class=>"btn btn-primary btn-small" %> 
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> <!-- table responsive-->
        </div>
      </div>

  </div>
</div>