<% content_for :stylesheets do %>
	<style type="text/css">
		::-webkit-scrollbar {
      width: 15px;
    } /* this targets the default scrollbar (compulsory) */
    ::-webkit-scrollbar-track {
      background-color: #848c95;
		} /* the new scrollbar will have a flat appearance with the set background color */
		 
		::-webkit-scrollbar-thumb {
		  background-color: rgba(0, 0, 0, 0.2); 
		} /* this will style the thumb, ignoring the track */
		 
		/*::-webkit-scrollbar-button {
		  background-color: #7c2929;
		}*/ /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
		 
		::-webkit-scrollbar-corner {
		  background-color: black;
		} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
	</style>
<% end %>


<div class="row" id="content_div">
  <div class="col-lg-12">

			<div class="panel">
				<div class="panel-body">
					<div class="col-lg-5 text-lg-left">
						<a href="<%= site_plans_product_path(@product) %>"><button class="btn btn-sm btn-primary">Site Plan</button></a>
						<a href="<%= floor_plans_product_path(@product) %>"><button class="btn btn-sm btn-primary">Floor Plan</button></a>
						<% if @product.e_brochure_url.present? %>
						  <a href="<%= @product.e_brochure_url %>"><button class="btn btn-sm btn-primary">More Information</button></a>
						<% end %>
					</div>
				</div>
					<div class="panel-body" style="padding-top:0px;">
					  <div class="col-lg-5 text-lg-left">
					    <div class="bg-light text-center" style="width: 70px;float:left;border:1px;border-color:black;border-style:solid;"> Available </div>

					    <div class="bg-yellow text-center" style="width:70px;float:left;border:1px;border-color:black;border-style:solid;">Registered</div>

					    <!-- <div class="bg-info text-center" style="width: 70px;float:left;border:1px;border-color:black;border-style:solid;">Booked</div> -->
					    <div class="bg-orange-red text-center" style="width: 70px;float:left;border:1px;border-color:black;border-style:solid;"> Sold </div>
					    <!-- <div class="bg-pink text-center" style="width: 70px;float:left;border:1px;border-color:black;border-style:solid;"> Blocked </div> -->
				    </div>
				</div>
				
				
				<div class="panel-body" style="padding-top:0px;">
				<div class="table-responsive">
				  
						<table class="table table-bordered">
						  <thead>
							</thead>
							<tbody>
							<% num = @product.product_setting.unit_per_row || 5 %>
							<% @lots.each do |key, lot_group| %>
								<% lot_group.in_groups_of(num).each do |lot_arry| %>
								  <tr>
								    <% lot_arry.each do |lot| %>
								      <% if lot %>
									      <td class="text-center <%= lot.background_css_name %>">
									        <div class="pad-btm"></div>
									        <div>
									        	<%= lot.name %>
									        </div>
									        <div>	
									        	<%= lot.product_type.try(:name) %>
									        </div>
									         <div>
									         	<% unless lot.is_sold? %>
									        	RM <%= number_with_precision(lot.selling_price, precision: 0, separator: ".", delimiter: ",") %>
									        	<% else %>
									        	RM 0
									        	<% end %>
									        </div> 
									        <div>
									          <%# if is_top_level_management? || is_low_level_admin? %>
									          <% unless lot.status_id == Lot::CONFIRM_RESERVATION || lot.status_id == Lot::SOLD %>
									        	  <%= link_to "Register Interest", buyer_reservation_path(lot), :class=>"btn btn-duck-green btn-labeled fa fa-plus #{lot.available_for_booking? ? nil : 'disabled' }", data: {:confirm => "Confirm to register #{lot.name} ?"} %>
									        	  <% else %>
									        	  <%= link_to "Unit Booked", root_url, :class=>"btn btn-labeled fa fa-outdent disabled" %>
									        	  </div>
									        	<% end %>
									        	<%# end %>
									        </div>
									        <div class="pad-top"></div>
									      </td>
									     <% else %>
									       <td class="text-center">
									        <div class="pad-btm"></div>
									        <div>	
									        	
									        </div>
									        <div>	
									        	
									        </div>
									         <div>	
									        	
									        </div> 
									        <div>
									        </div>
									        <div class="pad-top"></div>
									      </td>
									    <% end %>
								    <% end %>
								  </tr>
								<% end %>
							<% end %>
							</tbody>
						</table>
					</div>
			</div> <!-- panel body -->

		</div> <!-- panel -->
  </div>
</div>  <!-- row -->