<%= form_for(@molpay_transaction_history) do |f| %>
  <% if @molpay_transaction_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@molpay_transaction_history.errors.count, "error") %> prohibited this molpay_transaction_history from being saved:</h2>

      <ul>
      <% @molpay_transaction_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :bill_name %><br>
    <%= f.text_field :bill_name %>
  </div>
  <div class="field">
    <%= f.label :bill_email %><br>
    <%= f.text_field :bill_email %>
  </div>
  <div class="field">
    <%= f.label :bill_mobile %><br>
    <%= f.text_field :bill_mobile %>
  </div>
  <div class="field">
    <%= f.label :bill_desc %><br>
    <%= f.text_field :bill_desc %>
  </div>
  <div class="field">
    <%= f.label :tran_id %><br>
    <%= f.number_field :tran_id %>
  </div>
  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :paydate %><br>
    <%= f.datetime_select :paydate %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :appcode %><br>
    <%= f.text_field :appcode %>
  </div>
  <div class="field">
    <%= f.label :error_code %><br>
    <%= f.text_field :error_code %>
  </div>
  <div class="field">
    <%= f.label :error_desc %><br>
    <%= f.text_field :error_desc %>
  </div>
  <div class="field">
    <%= f.label :channel %><br>
    <%= f.text_field :channel %>
  </div>
  <div class="field">
    <%= f.label :skey %><br>
    <%= f.text_field :skey %>
  </div>
  <div class="field">
    <%= f.label :sale_id %><br>
    <%= f.number_field :sale_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
