
<div id="new_region-tab" class="tab-pane fade">
    <div class="panel">
    <div class="panel-body">
      <%= form_tag update_region_product_path(@product) do %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        
        <tbody>
          <% @regions.each do |region| %>
            <tr>
              <td>
                <%= text_field_tag "update_region[#{region.id}][name]", region.name, :class=>"form-control" %>
              </td>
              <td>
                <%= link_to 'Delete', region_path(region), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-small btn-danger" %>
              </td>
            </tr>
            
          <% end %>
        </tbody>
      </table>
      <%= submit_tag "Update", :class=>"btn btn-primary pull-right" if @product.regions.any? %>
      <% end %>
    </div>
  </div>
</div>