	<div class="form-group">
    <label class="col-md-6 control-label" for="customize_sale_person_required">Sale Person (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_sale_person_required_false" name="customize[sale_person_required]" value="0">
      <input class="demo-switch" name="customize[sale_person_required]" type="checkbox" <%= customize.sale_person_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_downpayment_required">Downpayment (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_downpayment_false" name="customize[downpayment_required]" value="0">
      <input class="demo-switch" name="customize[downpayment_required]" type="checkbox" <%= customize.downpayment_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_downpayment_percentage_required">Downpayment Percentage (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_downpayment_percentage_required_false" name="customize[downpayment_percentage_required]" value="0">
      <input class="demo-switch" name="customize[downpayment_percentage_required]" type="checkbox" <%= customize.downpayment_percentage_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_booking_fee_required">Booking Fee (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_booking_fee_required_false" name="customize[booking_fee_required]" value="0">
      <input class="demo-switch" name="customize[booking_fee_required]" type="checkbox" <%= customize.booking_fee_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_confirm_date_required">Sale Date (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_sale_date_required_false" name="customize[sale_date_required]" value="0">
      <input class="demo-switch" name="customize[sale_date_required]" type="checkbox" <%= customize.sale_date_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_confirm_date_required">Confirm Date(spa date) (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_confirm_date_required_false" name="customize[confirm_date_required]" value="0">
      <input class="demo-switch" name="customize[confirm_date_required]" type="checkbox" <%= customize.confirm_date_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_spa_required">SPA (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_spa_required_false" name="customize[spa_required]" value="0">
      <input class="demo-switch" name="customize[spa_required]" type="checkbox" <%= customize.spa_required? ? 'checked' : nil %> >
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_downpayment_type_required">Downpayment Type (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_downpayment_type_false" name="customize[downpayment_type_required]" value="0">
      <input class="demo-switch" name="customize[downpayment_type_required]" type="checkbox" <%= customize.downpayment_type_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_selling_price_required">Selling Price (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_selling_price_required_false" name="customize[selling_price_required]" value="0">
      <input class="demo-switch" name="customize[selling_price_required]" type="checkbox" <%= customize.selling_price_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_payment_type_required">Payment Type (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_payment_type_required_false" name="customize[payment_type_required]" value="0">
      <input class="demo-switch" name="customize[payment_type_required]" type="checkbox" <%= customize.payment_type_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_cash_required">Cash (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_cash_required_false" name="customize[cash_required]" value="0">
      <input class="demo-switch" name="customize[cash_required]" type="checkbox" <%= customize.cash_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_bank_loan_required">Bank Loan (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_bank_loan_required_false" name="customize[bank_loan_required]" value="0">
      <input class="demo-switch" name="customize[bank_loan_required]" type="checkbox" <%= customize.bank_loan_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_government_loan_required">Government Loan (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_government_loan_required_false" name="customize[government_loan_required]" value="0">
      <input class="demo-switch" name="customize[government_loan_required]" type="checkbox" <%= customize.government_loan_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_staff_loan_required">Staff Loan (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_staff_loan_required_false" name="customize[staff_loan_required]" value="0">
      <input class="demo-switch" name="customize[staff_loan_required]" type="checkbox" <%= customize.staff_loan_required? ? 'checked' : nil %> >
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-6 control-label" for="customize_reject_reason_required">Reject Reason (Required?)</label>
    <div class="col-md-6" style="padding-top: 5px;">
      <input type="hidden" id="customize_reject_reason_required_false" name="customize[reject_reason_required]" value="0">
      <input class="demo-switch" name="customize[reject_reason_required]" type="checkbox" <%= customize.reject_reason_required? ? 'checked' : nil %> >
    </div>
  </div>