<div class="form-group">
			      <label class="col-md-6 control-label" for="customize_full_name_required">Full Name (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_full_name_required_false" name="customize[full_name_required]" value="0">
			        <input class="demo-switch" name="customize[full_name_required]" type="checkbox" <%= customize.full_name_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_buyer_second_name_required">Buyer Second Name (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_buyer_second_name_required_false" name="customize[buyer_second_name_required]" value="0">
			        <input class="demo-switch" name="customize[buyer_second_name_required]" type="checkbox" <%= customize.buyer_second_name_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_buyer_third_name_required">Buyer Third Name (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_buyer_third_name_required_false" name="customize[buyer_third_name_required]" value="0">
			        <input class="demo-switch" name="customize[buyer_third_name_required]" type="checkbox" <%= customize.buyer_third_name_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_ic_number_required">IC Number (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_ic_number_required_false" name="customize[ic_number_required]" value="0">
			        <input class="demo-switch" name="customize[ic_number_required]" type="checkbox" <%= customize.ic_number_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_second_ic_number_required">Second IC Number (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_second_ic_number_required_false" name="customize[second_ic_number_required]" value="0">
			        <input class="demo-switch" name="customize[second_ic_number_required]" type="checkbox" <%= customize.second_ic_number_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_third_ic_number_required">Third IC Number (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_third_ic_number_required_false" name="customize[third_ic_number_required]" value="0">
			        <input class="demo-switch" name="customize[third_ic_number_required]" type="checkbox" <%= customize.third_ic_number_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_home_contact_number_required">Home Contact Number (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_home_contact_number_required_false" name="customize[home_contact_number_required]" value="0">
			        <input class="demo-switch" name="customize[home_contact_number_required]" type="checkbox" <%= customize.home_contact_number_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_mobile_contact_number_required">Mobile Contact Number (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_mobile_contact_number_required_false" name="customize[mobile_contact_number_required]" value="0">
			        <input class="demo-switch" name="customize[mobile_contact_number_required]" type="checkbox" <%= customize.mobile_contact_number_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_office_contact_number_required">Office Contact Number (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_office_contact_number_required_false" name="customize[office_contact_number_required]" value="0">
			        <input class="demo-switch" name="customize[office_contact_number_required]" type="checkbox" <%= customize.office_contact_number_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_address_required">Address (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_address_required_false" name="customize[address_required]" value="0">
			        <input class="demo-switch" name="customize[address_required]" type="checkbox" <%= customize.address_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_email_required">Email (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_email_required_false" name="customize[email_required]" value="0">
			        <input class="demo-switch" name="customize[email_required]" type="checkbox" <%= customize.email_required? ? 'checked' : nil %> >
			      </div>
			    </div>
			    
			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_race_required">Race (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_race_required_false" name="customize[race_required]" value="0">
			        <input class="demo-switch" name="customize[race_required]" type="checkbox" <%= customize.race_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_age_required">Age (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_age_required_false" name="customize[age_required]" value="0">
			        <input class="demo-switch" name="customize[age_required]" type="checkbox" <%= customize.age_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			      <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_age_required">Region (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_region_id_required_false" name="customize[region_id_required]" value="0">
			        <input class="demo-switch" name="customize[region_id_required]" type="checkbox" <%= customize.region_id_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_postcode_required">Postcode (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_postcode_required_false" name="customize[postcode_required]" value="0">
			        <input class="demo-switch" name="customize[postcode_required]" type="checkbox" <%= customize.postcode_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_gender_required">Gender (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_gender_required_false" name="customize[gender_required]" value="0">
			        <input class="demo-switch" name="customize[gender_required]" type="checkbox" <%= customize.gender_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_is_bumi_putera">Is Bumi Putera (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_is_bumi_putera_required_false" name="customize[is_bumi_putera_required]" value="0">
			        <input class="demo-switch" name="customize[is_bumi_putera_required]" type="checkbox" <%= customize.is_bumi_putera_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_is_bumi_putera">Sources type (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_sources_type_id_required_false" name="customize[sources_type_id_required]" value="0">
			        <input class="demo-switch" name="customize[sources_type_id_required]" type="checkbox" <%= customize.sources_type_id_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_car_park">Car Park (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_car_park_required_false" name="customize[car_park_required]" value="0">
			        <input class="demo-switch" name="customize[car_park_required]" type="checkbox" <%= customize.car_park_required? ? 'checked' : nil %> >
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="col-md-6 control-label" for="customize_remark">Remark (Required?)</label>
			      <div class="col-md-6" style="padding-top: 5px;">
			        <input type="hidden" id="customize_remark_required_false" name="customize[remark_required]" value="0">
			        <input class="demo-switch" name="customize[remark_required]" type="checkbox" <%= customize.remark_required? ? 'checked' : nil %> >
			      </div>
			    </div>
