
<div id="site_plan-tab" class="tab-pane fade ">
    <h4 class="text-thin"></h4>
    <div class="panel">
    <div class="panel-body">
  
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Image</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>

        <% @product.site_plans.each do |site_plan| %>
        
        <tr>
          <td>
            <%= image_tag(site_plan.image.url(:medium), class: "img-responsive thumbnail") %>
          </td>
        
          <td class="text-center">
            <%= link_to 'Delete', [@product, site_plan], method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-small btn-danger" %>
          </td>
        </tr>
        
        <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>