<div class="row" id="content_div">
	<div class="col-lg-12">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Editing product</h3>
			</div>
      <%#= render 'form' %>
      <%= render :partial => "form", :locals => { :phase_id => nil } %>
    </div>
  </div>
</div>