<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><a href="/projects">Projects</a></li>
    <li><a href="<%= project_path(@product.phase.project) %>"><%= @product.phase.project.name %></a></li>
    <li><a href="<%= phase_path(@product.phase) %>"><%= @product.phase.name %></a></li>
    <li class="active"><%= @product.name %></li>
  </ol>
<% end %>

<div class="row" id="content_div">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Product detail</h3>
      </div>
      <div class="panel-body">
  
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>i-Brochure URL:</strong>
        <%= @product.e_brochure_url %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
      <p>
        <strong>Type:</strong>
        <%= @product.type %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @product.status %>
      </p>

      <br>
      <a href="<%= edit_product_path(@product) %>"><button class="btn btn-primary">Edit</button></a>

    <%#= link_to "Lot List", lots_path(:product_id => @product.id), :class=>"btn btn-default" %>
    <% if @product_types.any? %>
      <button data-target="#generate_lot" data-toggle="modal" class="btn btn-primary">Generate Unit</button>
    <% else %>
      <button data-toggle="modal" class="btn btn-primary" onclick="alert('Please create product type first.');">Generate Unit</button>
    <% end %>
      <button data-target="#new_product_type" data-toggle="modal" class="btn btn-primary">New Type</button>
      <button data-target="#new_region" data-toggle="modal" class="btn btn-primary">New Region</button>
      <button data-target="#new_sources_type" data-toggle="modal" class="btn btn-primary">New Sources Type</button>
      <button data-target="#new_site_plan" data-toggle="modal" class="btn btn-primary">Upload Site Plan</button>
      <button data-target="#new_floor_plan" data-toggle="modal" class="btn btn-primary">Upload Floor Plan</button>
    </div>
  </div>

  <div class="tab-base">
          
    <!--Nav Tabs-->
    <ul class="nav nav-tabs" id="product_options_tabs">
      <li class="active">
        <a data-toggle="tab" href="#lot-tab">Unit list</a>
      </li>
      <li>
        <a data-toggle="tab" href="#product_type-tab">Types <!-- <span class="badge badge-purple">27</span> --></a>
      </li>
       <li>
        <a data-toggle="tab" href="#new_region-tab">Region</a>
      </li>
      <li>
        <a data-toggle="tab" href="#new_sources_type-tab">Source Types</a>
      </li>
      <li>
        <a data-toggle="tab" href="#site_plan-tab">Site Plan <!-- <span class="badge badge-purple">27</span> --></a>
      </li>
      <li>
        <a data-toggle="tab" href="#floor_plan-tab">Floor Plan</a>
      </li>
      <li>
        <a data-toggle="tab" href="#email_setting-tab">Email Template</a>
      </li>
      <li>
        <a data-toggle="tab" href="#product_setting-tab">Setting</a>
      </li>
      <li>
        <a data-toggle="tab" href="#product_customize-tab">Customize</a>
      </li>
    </ul>

    <!--Tabs Content-->
     <div class="tab-content">
        <%= render "/products/lot_tab" %>
        <%= render "/products/product_type_tab" %>
        <%= render "/products/product_setting_tab" %>
        <%= render "/products/email_setting_tab" %>
        <%= render "/products/floor_plan_tab" %>
        <%= render "/products/site_plan_tab" %>
        <%= render "/products/region_tab" %>
        <%= render "/products/sources_type_tab" %>
        <%= render "/products/customize_column_tab" %>
     </div>
    </div>
              <!--===================================================-->
              <!--End Default Tabs (Left Aligned)-->
    
  </div>
</div>
 

  <div class="modal fade" id="generate_lot" role="dialog" tabindex="-1" aria-labelledby="generate_lot" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Modal header-->
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Generate Unit (<%= @product.title %>)</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
          <%= render "/products/generate_lot"  %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new_product_type" role="dialog" tabindex="-1" aria-labelledby="new_product_type" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Modal header-->
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Product Type</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
          <%= render "/product_types/form" %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new_site_plan" role="dialog" tabindex="-1" aria-labelledby="new_site_plan" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Modal header-->
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Upload Site Plan</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
          <%= render "/site_plans/form" %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new_floor_plan" role="dialog" tabindex="-1" aria-labelledby="new_floor_plan" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Modal header-->
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Upload Floor Plan</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
          <%= render "/floor_plans/form" %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new_region" role="dialog" tabindex="-1" aria-labelledby="new_region" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Modal header-->
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Region</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
          <%= render "/regions/form" %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new_sources_type" role="dialog" tabindex="-1" aria-labelledby="new_sources_type" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!--Modal header-->
        <div class="modal-header">
          <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Sources Type</h4>
        </div>

        <!--Modal body-->
        <div class="modal-body">
          <%= render "/sources_types/form" %>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
   $( document ).ready(function() {

        var loc = window.location.href;
        var pathName = loc.split("#");
        var tab_id = pathName.pop();
        if(tab_id !== undefined) {
          $('#product_options_tabs a[href="#'+ tab_id +'"]').tab("show");
        }
    
   });
  </script>