<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
		<li><a href="/projects">Projects</a></li>
		<li><a href="<%= project_path(@phase.project) %>"><%= @phase.project.name %></a></li>
		<li class="active"><%= @phase.name %></li>
	</ol>
<% end %>

<div class="row" id="content_div">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Phase detail</h3>
      </div>
      <div class="panel-body">

				<p>
				  <strong>Name:</strong>
				  <%= @phase.name %>
				</p>

				<p>
				  <strong>Status:</strong>
				  <%= @phase.status %>
				</p>

				<%#= link_to "Create Product", new_product_path(:id => @phase.id), :class=>"btn btn-default" %>
	      <button data-target="#new_product" data-toggle="modal" class="btn btn-purple btn-labeled fa fa-plus">New Product</button>
			</div>
		</div>

		<h3 class="panel-title"><strong>Products</strong></h3>
				<div class="panel">
					<div class="panel-body">

				<%= form_tag update_product_phases_path do %>
					<div class="table-responsive">
							<table class="table table-striped table-hover">
							  <thead>
								<tr>
									<th>Product</th>
									<th class="text-center">Type</th>
									<th class="text-center">Status</th>
									<th class="text-center">Published</th>
									<th class="text-center">Action</th>
								</tr>
								</thead>
								<tbody>
								<% @product_list.order(:name).each do |p| %>
								
								<tr>
									<td><%= text_field_tag "product[#{p.id}][name]", p.name, :class=>"form-control" %></td>
									<td class="text-center">
										<%= radio_button_tag "product[#{p.id}][type_id]", 1, p.type_id == 1 ? "checked" : nil %> Landed
										<%= radio_button_tag "product[#{p.id}][type_id]", 2, p.type_id == 2 ? "checked" : nil %> Highrise
									</td>
									<td class="text-center">
										<%= radio_button_tag "product[#{p.id}][status_id]", 1, p.status_id == 1 ? "checked" : nil %> Avaiable
										<%= radio_button_tag "product[#{p.id}][status_id]", 2, p.status_id == 2 ? "checked" : nil %> Pending
									</td>
									<td class="text-center">
									  <%= hidden_field_tag "product[#{p.id}][is_published]", false %>
										<%= check_box_tag "product[#{p.id}][is_published]", true, p.is_published? ? "checked" : nil %> Yes
									</td>
									<td class="text-center">
										  <%= link_to 'Detail', p, :class=>"btn btn-small btn-warning" %>
										<%= link_to "Delete", product_path(p), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-small" %>
							    </td>
									
								</tr>
								
								<% end %>
								</tbody>

								
							</table>
						</div>
						<%= submit_tag("Update", :class=>"btn btn-primary pull-right") if @product_list.any? %>
				<% end %>
				</div>
      </div>


					<div class="modal fade" id="new_product" role="dialog" tabindex="-1" aria-labelledby="new_product" aria-hidden="true">
				    <div class="modal-dialog">
				      <div class="modal-content">

				        <!--Modal header-->
				        <div class="modal-header">
				          <button data-dismiss="modal" class="close" type="button">
				          <span aria-hidden="true">&times;</span>
				          </button>
				          <h4 class="modal-title">New Product</h4>
				        </div>

				        <!--Modal body-->
				        <div class="modal-body">
				          <%= render :partial => "/products/form", :locals => { :phase_id => @phase.id } %>
				        </div>
				      </div>
				    </div>
				  </div>
	  </div>
 </div>
