<%= form_tag confirm_sale_path(sale), {:class => 'panel-body form-horizontal form-padding'}  do %>

  <% if is_top_level_management? %>

  <% product = Product.find(sale.product_id) %>
  <% @customization = product.reservation_customization %>

  <% if @customization.sale_person %>
    <div class="form-group">
      <label class="col-md-3 control-label" for="sale_user_id">Sale Person</label>
      <div class="col-md-9">
        <select class="selectpicker" name="sale[user_id]" <%= @customization.sale_person_required? ? 'required' : nil %> >
          <option value="">Select a name</option>
          <% current_user.company.members.each do |member| %>
            <option value="<%= member.id %>" <%= member.id == sale.user_id ? "selected='selected'" : nil %> ><%= member.name %></option>
          <% end %>
        </select>
        <% if @customization.sale_person_required?  %>
          <small class="help-block">Required field</small>
        <% end %>
      </div>
    </div>
  <% end %>


  <input type="hidden" name="sale[admin_confirm_user_id]" class="form-control" value="<%= current_user.id %>">
    <br>
  
  <% if @customization.confirm_date? %>
    <div class="form-group">
      <label class="col-md-3 control-label" for="sale_confirm_date">SPA Date</label>
      <div class="col-md-9">
        <div class="input-group date">
          <input type="text" class="form-control" name="sale[confirm_date]" id="sale_confirm_date" value="" <%= @customization.confirm_date_required? ? 'required' : nil %> >
          <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
        </div>
        
        <small class="text-muted">Click to select the SPA date. </small>
        <% if @customization.confirm_date_required?  %>
          <small class="help-block">Required field</small>
        <% end %>
      </div>
    </div>
    <% end %>
    <br>


  <% if @customization.downpayment? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_downpayment">Down Payment(RM):</label>
    <div class="col-md-9">
      <input type="text" id="sale_downpayment" name="sale[downpayment]" class="form-control" placeholder="DownPayment" value="" <%= @customization.downpayment_required? ? 'required' : nil %> >
      <% if @customization.downpayment_required?  %>
          <small class="help-block">Required field</small>
        <% end %>
    </div>
  </div>
  <% end %>
  <br>

  <% if @customization.downpayment_percentage? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_downpayment_percentage">Down Payment(%): </label>
    <div class="col-md-9">
      <input type="text" id="sale_downpayment_percentage" name="sale[downpayment_percentage]" class="form-control" placeholder="Downpayment percentage" value="" <%= @customization.downpayment_percentage_required? ? 'required' : nil %> >
      <% if @customization.downpayment_percentage_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>
  <br>

  <% if @customization.downpayment_type? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_downpayment_type">Downpayment Type: </label>
    <div class="col-md-9">
      <input type="text" id="sale_downpayment_type" name="sale[downpayment_type]" class="form-control" placeholder="Downpayment Type" value="" <%= @customization.downpayment_type_required? ? 'required' : nil %> >
      <% if @customization.downpayment_type_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>
  <br>
  <% if @customization.payment_type? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_payment_type">Payment Type: </label>
    <div class="col-md-9">
      <input type="text" id="sale_bank_loan" name="sale[payment_type]" class="form-control" placeholder="Payment Type" value="" <%= @customization.payment_type_required? ? 'required' : nil %> >
      <% if @customization.payment_type_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>
  <br>

  <% if @customization.spa? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_spa">SPA/Solicitor: </label>
    <div class="col-md-9">
      <input type="text" id="sale_spa" name="sale[spa]" class="form-control" placeholder="SPA Lawyer Firm" value="" <%= @customization.spa_required? ? 'required' : nil %> >
      <% if @customization.spa_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>
  <br>

  <% if @customization.cash? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_cash">Cash: </label>
    <div class="col-md-9">
      <input type="text" id="sale_cash" name="sale[cash]" class="form-control" placeholder="Cash" value="<%= sale.cash? ? sale.cash : nil %>" <%= @customization.cash_required? ? 'required' : nil %> >
      <% if @customization.cash_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>
  <br>

  <% if @customization.bank_loan? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_bank_loan">Bank Loan: </label>
    <div class="col-md-9">
      <input type="text" id="sale_bank_loan" name="sale[bank_loan]" class="form-control" placeholder="Bank Loan" value="<%= sale.bank_loan ? sale.bank_loan : nil %>" <%= @customization.cash_required? ? 'required' : nil %> >
      <% if @customization.bank_loan_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>
  <br>

  <% if @customization.government_loan? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_government_loan">Bank Loan: </label>
    <div class="col-md-9">
      <input type="text" id="sale_government_loan" name="sale[government_loan]" class="form-control" placeholder="Bank Loan" value="<%= sale.government_loan ? sale.government_loan : nil %>" <%= @customization.government_loan_required? ? 'required' : nil %> >
      <% if @customization.government_loan_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>
  <br>

  <% if @customization.staff_loan? %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_staff_loan">Staff Loan: </label>
    <div class="col-md-9">
      <input type="text" id="sale_staff_loan" name="sale[staff_loan]" class="form-control" placeholder="Staff Loan" value="<%= sale.staff_loan ? sale.staff_loan : nil %>" <%= @customization.staff_loan? ? 'required' : nil %> >
      <% if @customization.staff_loan_required?  %>
        <small class="help-block">Required field</small>
      <% end %>
    </div>
  </div>
  <% end %>
  <br>

  
  <% end %>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
          <br>
        <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
        <!-- <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button> -->
      </div>
    </div>
  </div>

<% end %>
