<%= form_for(@sale, html: {:class => 'panel-body form-horizontal form-padding', :multipart => true }) do |f| %>

    <div class="form-group">
      <label class="col-md-3 control-label" for="sale_user_id">Sale Person</label>
      <div class="col-md-9">
          <!-- Inline radio buttons -->
        <select class="selectpicker" name="sale[user_id]">
          <option value="">Select a name</option>
          <% current_user.company.members.each do |member| %>
            <option value="<%= member.id %>" <%= member.id == @sale.user_id ? "selected='selected'" : nil %> ><%= member.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <br>

  <div class="form-group">
      <label class="col-md-3 control-label" for="sale_user_id">SPA Date</label>
      <div class="col-md-9">
      <div class="input-group date">
        <input type="text" class="form-control" name="sale[confirm_date]" id="sale_confirm_date" value="<%= @sale.confirm_date_short_format %>">
        <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
      </div>
      <small class="text-muted">Click to change the date</small>
    </div>
  </div>
  <br>

  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_downpayment">Down Payment(RM):</label>
    <div class="col-md-9">
      <input type="number" id="sale_downpayment" name="sale[downpayment]" class="form-control" placeholder="DownPayment" value="<%= @sale.downpayment %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_downpayment_percentage">Down Payment(%): </label>
    <div class="col-md-9">
      <input type="number" id="sale_downpayment_percentage" name="sale[downpayment_percentage]" class="form-control" placeholder="DownPayment percentage" value="<%= @sale.downpayment_percentage %>">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_downpayment_type">Payment Type: </label>
    <div class="col-md-9">
      <input type="text" id="sale_downpayment_type" name="sale[downpayment_type]" class="form-control" placeholder="Down Payment Type" value="<%= @sale.downpayment_type %>">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_bank_loan">Bank Loan: </label>
    <div class="col-md-9">
      <input type="text" id="sale_bank_loan" name="sale[bank_loan]" class="form-control" placeholder="Bank Loan" value="<%= @sale.bank_loan %>">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_spa">Lawyer Firm: </label>
    <div class="col-md-9">
      <input type="text" id="sale_spa" name="sale[spa]" class="form-control" placeholder="SPA" value="<%= @sale.spa %>">
    </div>
  </div>

  <br>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
          <br>
        <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
        <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button>
      </div>
    </div>
  </div>

<% end %>

