<% content_for :stylesheets do %>
  <link href="/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
<% end %>

<div class="row" id="content_div">
  <div class="col-lg-12">

      <div class="panel">
       <!--  <div class="panel-heading">
            <h3 class="panel-title">Sales History</h3>
        </div>
        
      <%#= search_form_for(@q, :html => {class: "form-horizontal"}) do |f| %>
        <%# if is_top_level_admin? %>
        <div class="panel-body">
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Purchase Name</label>
                <input type="text" class="form-control" name="q[buyer_full_name_cont]" id="q_buyer_full_name_cont" >
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Agency</label>
                <select class="selectpicker form-control" name="q[user_company_id_eq]" id="q_user_company_id_eq">
                    <option value="">All agencies</option>
                    <%# @agencies.each do |agency| %>
                      <option value="<%#= agency.id %>"><%#= agency.name  %></option>
                    <%# end %>
                  </select>
              </div>
            </div>
          </div>

          <div class="row">
            
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Product</label>
                <select class="selectpicker form-control" name="q[product_id_eq]" id="q_product_id_eq">
                    <option value="">All Products</option>
                    <%# current_user.company.products.each do |product| %>
                      <option value="<%#= product.id %>"><%#= product.name  %></option>
                    <%# end %>
                  </select>
              </div>
            </div>

             <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Status</label>
                <select class="selectpicker form-control" name="q[status_id_eq]" id="q_status_id_eq">
                    <option value="">All status</option>
                    <option value="1">Pending</option>
                    <option value="2">Completed</option>
                    <option value="3">Rejected</option>
                  </select>
              </div>
            </div>
          </div>

          <%# else %>

          <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Purchase Name</label>
                <input type="text" class="form-control" name="q[buyer_full_name_cont]" id="q_buyer_full_name_cont" >
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Status</label>
                <select class="selectpicker form-control" name="q[status_id_eq]" id="q_status_id_eq">
                    <option value="">All status</option>
                    <option value="1">Pending</option>
                    <option value="2">Completed</option>
                    <option value="3">Rejected</option>
                  </select>
              </div>
            </div>
          </div>


          <%# end %>

          <br>
          <div class="panel-footer text-right">
            <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Search</button>
          </div>
       </div>
    <%# end %> -->

      <div class="panel-body">
        <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Booking Date</th>
              <!-- <th>SPA Date</th> -->
              <!-- <th>Agency</th> -->
              <!-- <th class="text-center">Agent</th> -->
              <!-- <th class="text-left">Purchaser</th> -->
              <th class="text-center">Project</th>
              <!-- <th class="text-center">Product</th> -->
              <th class="text-center">Unit</th>
              <th class="text-center">Price</th>
              <th class="text-center">Payment</th>
              <th class="text-center">Status</th>
              <th class="text-center">Action<th>
            </tr>
          </thead>

          <tbody>
            <% @sales.each do |sale| %>
              <tr>
                <td>
                  <%= sale.created_at.strftime("%d-%m-%Y")  %></td>
                <!-- <td><%#= sale.confirm_date.strftime("%d-%m-%Y") rescue ""  %></td> -->
                <!-- <td><%#= sale.user.company.name rescue "Company not found" %></td> -->
                <!-- <td class="text-center"><%#= sale.user.name rescue "User not found" %></td> -->
                <!-- <td class="text-left">
                  <%# if is_top_level_management? || (sale.user_id == current_user.id) %>
                    <a href="<%#= edit_buyer_path(sale.buyer, sale_id: sale.id) rescue '#' %>"><button class="btn btn-primary btn-sm"><%#= (sale.buyer.try(:full_name) || "Unknown").truncate(30, omission: '...') %></button>
                    </a>
                  <%# else %>
                    <span class="label label-primary">Reserved</span>
                  <%# end %>
                </td> -->
                <td class="text-center"><%= sale.project.name %></td>
                <% lot = sale.lot %>
                <!-- <td class="text-center">
                  <%#= lot.product.name rescue "Lot not found" %></td> -->
                <td class="text-center">
                  <%= lot.name rescue "Lot not found" %>
                </td>
                <%# binding.pry %>
                <td class="text-center">
                  <%= number_with_precision(sale.actual_price, precision: 0, separator: ".", delimiter: ",") rescue "Lot not found" %>
                  <%#= number_with_precision(lot.selling_price, precision: 0, separator: ".", delimiter: ",") rescue "Lot not found" %>
                </td>
                <td class="text-center">
                  <% if sale.payments.any? %>
                    <button id="payment-<%= sale.id %>" class="btn btn-sm btn-purple payment">Show</button>
                  <% end %>
                  <% if sale.user_id == current_user.id %>
                    <% unless sale.status_id == Sale::REJECTED || sale.status_id == Sale::CANCELLED %>
                      <a href="<%= new_payment_sale_path(sale) %>"><button class="btn btn-primary btn-sm">Add Payment</button>
                    <% end %>
                  <% end %>
                  </a>
                </td>
                <td class="text-center">
                  <% if sale.status_id == Sale::PENDING %>
                    <span class="label label-warning">Prebook</span>
                  <% elsif sale.status_id == Sale::REJECTED %>
                    <span class="label label-danger">Rejected</span>
                  <% elsif sale.status_id == Sale::CANCELLED %>
                    <span class="label label-danger">Cancelled</span>
                  <% elsif sale.status_id == Sale::COMPLETED %>
                    <span class="label label-success">Sold</span>
                <% elsif sale.status_id == Sale::PENDING_RESERVATION %>
                <span class="label label-danger">Pending</span>
                <% elsif sale.status_id == Sale::CONFIRM_RESERVATION %>
                <span class="label label-info">Booked</span>
                  <% end %>
                </td>
        
                <td class="text-center">
                <% if sale.status_id == Sale::PENDING %>
                  <% if is_top_level_admin? %>
                    
                    <%= link_to "Confirm Prebook", confirm_reservation_reservations_path(:sale_id => sale.id), :class=>"btn btn-info btn-sm",data: { confirm: "Confirm Booking Fee RM#{sale.booking_fee} ?"  } %>

                    <button data-target="#confirm_sale<%= sale.id %>" data-toggle="modal" class="btn btn-success btn-sm">Confirm Sale</button>
                  
                    <button data-target="#reject_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Delete</button>

                <% elsif sale.user_id == current_user.id %>

                    <button data-target="#reject_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Delete</button>
                  <% end %>
                <% elsif sale.status_id == Sale::REJECTED || sale.status_id == Sale::CANCELLED %>
                  <!-- <button class="btn btn-default btn-hover-info add-tooltip" data-placement="top" data-toggle="tooltip" data-original-title="">Show reason</button> -->

                  <button class="btn btn-default btn-active-success add-popover" data-toggle="popover" data-placement="top" data-original-title="Rejected/Cancelled Reason" data-content="<%= sale.reject_reason %>">Show reason</button>

                <!-- after confirm reservation  -->
                <% elsif sale.status_id == Sale::CONFIRM_RESERVATION %>
                  <% if is_top_level_admin? %>

                    <button data-target="#confirm_sale<%= sale.id %>" data-toggle="modal" class="btn btn-success btn-sm">Confirm Sale</button>
                  <% end %>
                  <button data-target="#reject_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Delete</button>
                <% elsif sale.status_id == Sale::PENDING_RESERVATION %>
                  <button data-target="#reject_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Delete</button>
                <% elsif sale.status_id == Sale::COMPLETED %>
                  <% if is_top_level_admin? %>
                    <a href="<%= edit_sale_path(sale) %>">
                      <button class="btn btn-primary btn-sm">
                      Edit
                      </button>
                    </a>
                    <button data-target="#cancel_sale<%= sale.id %>" data-toggle="modal" class="btn btn-danger btn-sm">Cancel</button>
                  <% end %>
                <% end %>
                </td>
              </tr>

              <div class="modal fade" id="confirm_sale<%= sale.id %>" role="dialog" tabindex="-1" aria-labelledby="confirm_sale" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!--Modal header-->
                    <div class="modal-header">
                      <button data-dismiss="modal" class="close" type="button">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Confirm Sale</h4>
                    </div>

                    <!--Modal body-->
                    <div class="modal-body">
                      <%= render partial: "confirm_sale_form",  :locals => { :sale => sale } %>
                      <%#= render :text => params %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="reject_sale<%= sale.id %>" role="dialog" tabindex="-1" aria-labelledby="reject_sale" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!--Modal header-->
                    <div class="modal-header">
                      <button data-dismiss="modal" class="close" type="button">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Delete</h4>
                    </div>

                    <!--Modal body-->
                    <div class="modal-body">
                      <%= render partial: "reject_sale_form",  :locals => { :sale => sale } %>
                      <%#= render :text => params %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="cancel_sale<%= sale.id %>" role="dialog" tabindex="-1" aria-labelledby="cancel_sale" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!--Modal header-->
                    <div class="modal-header">
                      <button data-dismiss="modal" class="close" type="button">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Cancel Sale</h4>
                    </div>

                    <!--Modal body-->
                    <div class="modal-body">
                      <%= render partial: "cancel_sale_form",  :locals => { :sale => sale } %>
                      <%#= render :text => params %>
                    </div>
                  </div>
                </div>
              </div>

            <div class="modal fade" id="reject_sale<%= sale.id %>" role="dialog" tabindex="-1" aria-labelledby="confirm_sale" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!--Modal header-->
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete</h4>
                  </div>

                  <!--Modal body-->
                  <div class="modal-body">
                    <%= render partial: "reject_sale_form",  :locals => { :sale => sale } %>
                    <%#= render :text => params %>
                  </div>
                </div>
              </div>
            </div>

            <% end %>
          </tbody>
        </table>

          
        <%= paginate @sales, :theme => 'twitter-bootstrap-3'  %>
        </div> <!-- table responsive-->
        </div>
      </div>

  </div>
</div>

<% content_for :javascripts do %>
  <script src="/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
  <script src="/js/demo/form-component.js"></script>
  <script type="text/javascript">
    $('#sale_confirm_date').datepicker({
      format: 'dd/mm/yyyy',
      autoclose: true
    });

    // $(document).ready(function() {
      $('button.payment').on('click', function(){
        var sale_name = $(this).attr("id");
        var sale_id = sale_name.split("-")[1];
        var payment_url;
        // alert(sale_id);
        $.get("/sales/"+sale_id, function(data){
          
          bootbox.dialog({
           size: "large",
           title: "Payment",
           message: data,
           buttons: {
             confirm: {
               label: "Close"
             }
           }
         });
        });
        
      });

    // });
  </script>
<% end %>
