<% content_for :javascripts do %>
  <script type="text/javascript">
    $("#back_btn").click(function(e){
      e.preventDefault();
      window.location.href='<%= sales_path %>';
    });

  </script>
<% end %>
<div class="row" id="content_div">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Payment</h3>
      </div>
      <%= form_tag add_payment_sale_path(@sale), :class => 'panel-body form-horizontal form-padding', :multipart => true do  %>
       

        <% if @sale.user_id == current_user.id %>
            <br>
            <div class="form-group">
              <label class="col-md-3 control-label" for="payment_image">Cheque/Transaction Slip: </label>
              <div class="col-md-9 upload_payments_wrapper">
                <div class="upload_fields">
                  <input type="file" id="payment_image" name="payment_image[]" class="form-control" required>
                  <% 4.times do %>
                    <input type="file" id="payment_image" name="payment_image[]" class="form-control" >
                  <% end %>
                </div>
                <!-- <button class="add_more_photo_button btn btn-info">Add more photo</button> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-6 control-label">
                <h4>Or</h4>
              </label>
            </div>
            <hr>

            <%# if is_top_level_admin? %>
            <div class="form-group">
              <label class="col-md-3 control-label">
                With Credit Card / Online Banking:
              </label>
              <div class="col-md-5">
                <% if @molpay_transaction && @molpay_transaction.status == MolpayTransactionHistory::SUCCESS %>
                  <%= link_to "View Molpay Transaction", molpay_transaction_history_path(@sale.id) %>
                  <!-- Molpay Successfully Paid -->
                <% else %>
                  <%= link_to "Pay Now", molpay_subscribe_path(:id => @sale.id), :class=>"btn btn-warning" %>
                <% end %>
              </div>
              <div class="col-md-4">
                <img class="img-responsive" src="/img/slack-imgs.com.jpeg" alt="Image">
              </div>
            </div>
            <%# end %>
        <% end %>

        <br>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <br>
              <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
              <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>