<div id="completed_order-tab" class="tab-pane fade ">

      <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>SPA</th>
                  <th>Agency</th>
                  <th>Agent</th>
                  <th>Purchaser</th>
                  <th>Contact Number</th>
                  <th>Price</th>
                  <th>Type</th>
                  <th>Lot</th>
                  <th>Age</th>
                  <th>Race</th>
                  <th>Region</th>
                  <th>Source</th>
                  <th>Remark</th>
                </tr>
              </thead>
              
              <tbody>
                <% @sales.where("status_id = 2").each do |p| %>
                <tr>
                  <td><%= p.created_at.strftime("%d-%m-%Y") rescue "" %></td>
                  <td><%= p.confirm_date.strftime("%d-%m-%Y") rescue "" %></td>
                  <td><%= p.user.company.try(:name) %></td>
                  <td><%= p.user.try(:username) %></td>
                  <td><%= p.buyer.try(:full_name) %></td>
                  <td><%= p.buyer.try(:mobile_contact_number) %></td>
                  <td><%= number_with_delimiter(p.actual_price) %></td>
                  <td><%= ProductType.find_by_id(p.product_id).try(:name) %></td>
                  <td><%= p.lot.try(:name) %></td>
                  <td>
                    <% if p.buyer.age == 1 %>
                      18-30
                      <% elsif p.buyer.age == 2 %>
                      31-40
                      <% elsif p.buyer.age == 3 %>
                      41-50
                      <% elsif p.buyer.age == 4 %>
                      51-60
                      <% elsif p.buyer.age == 5 %>
                      60 & above
                      <% else %>
                      <% end %>
                  </td>
                  <td>
                    <% if p.buyer.race == 1 %>
                      Chinese
                    <% elsif p.buyer.race == 2 %>
                      Melayu
                    <% elsif p.buyer.race == 3 %>
                      Indian
                    <% elsif p.buyer.race == 4 %>
                      Other
                    <% else %>
                    <% end %>
                  </td>
                  <td><%= p.buyer.region.try(:name) %></td>
                  <td><%= p.buyer.sources_type.try(:name) %></td>
                  <td>
                    Completed
                  </td>
                </tr>
                <% end %>
              </tbody>
              
            </table>    
          </div>
 
    </div>
        