
     <div id="unit_pie_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    
    <hr> 
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>TYPE</th>
            <th>Unit</th>
          </tr>
          <tr>
            <td>Sold:</td>
            <td><%= sold = @lots.where("status_id = 3").count %></td>
          </tr>
          <tr>
            <td>Available:</td>
            <td><%= available = @lots.where("status_id = 1").count %></td>
          </tr>
          <tr>
            <td>Reserved:</td>
            <td><%= reserved = @lots.where("status_id = 2").count %></td>
          </tr>
          <tr>
            <td>Total Unit:</td>
            <td><%= @lots.count %></td>
          </tr>
          <tr></tr>
          <tr>
            <th>GDV</th>
            <th></th>
          </tr>
          <tr>
            <td>Sold :</td>
            <td>
              <% sold_price = 0 %>
              <% @sales.where("status_id = 2").each do |p| %>
                <% sold_price += p.actual_price %>
              <% end %>
              RM <%= number_with_delimiter(sold_price) %>
            </td>
          </tr>
          <tr>
            <td>Available :</td>
            <td>
              <% available_price = 0 %>
              <% @lots.order("id ASC").each do |l| %>
                  <% if l.status_id == 1 %>
                    <% available_price += l.selling_price %>
                  <% end %>
              <% end %>
              RM <%= number_with_delimiter(available_price) %>
            </td>
          </tr>
          <tr>
            <td>Reserved :</td>
            <td>
              <% reserved_price = 0 %>
              <% @sales.where("status_id = 1").each do |p| %>
                <% reserved_price += p.actual_price %>
              <% end %>
              RM <%= number_with_delimiter(reserved_price) %>
            </td>
          </tr>
          <tr>
            <td>Total :</td>
            <td>RM <%= number_with_delimiter(sold_price + available_price + reserved_price)  %></td>
          </tr>
        </tbody>
        
      </table>
      <%#= link_to "Export Excel", ideal_export_excel_developer_customers_path(format: "xls"), :class=>"btn btn-default" %>
    </div>

<script type="text/javascript">
  $(function () {

            var combine = <%= raw sold.to_json %>;
            var sold = <%= sold %>;
            var available = <%= available %>;
            var reserved = <%= reserved %>;
            console.log(sold, reserved, available);


            var unit_cart = [["Sold", sold],["Available", available],["Reserved", reserved]];
            $('#unit_pie_chart').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1,//null,
                    plotShadow: false,
                    type: "pie"
                },
                title: {
                    text: 'Analysis Unit Report.'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.0f} %</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.0f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                  },
                series: [{
                name: "Percent",
                colorByPoint: true,
                data: [{
                    name: "Sold",
                    y: sold,
                    color: "red"
                }, {
                    name: "Available",
                    y: available,
                    color: "green"
                }, {
                    name: "Reserved",
                    y: reserved,
                    color: "purple"
                }]
              }]
            });
   $("div.highcharts-container svg text:last").html("");
          });

</script>
