<table class="table table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Agency</th>
              <th>Agent</th>
              <th>Purchaser</th>
              <th>Contact Number</th>
              <th>Price</th>
              <th>Type</th>
              <th>Lot</th>
              <th>Age</th>
              <th>Race</th>
              <th>Region</th>
              <th>Source</th>
              <th>Remark</th>
            </tr>
          </thead>
          
          <tbody>
            <% @sales.order("id ASC").each do |p| %>
            <tr>
              <td><%= p.created_at.strftime("%d-%m-%Y") %></td>
              <td><%= p.user.company.try(:name) %></td>
              <td><%= p.user.try(:username) %></td>
              <td><%= p.buyer.try(:full_name) %></td>
              <td><%= p.buyer.try(:mobile_contact_number) %></td>
              <td>
                <% lot = p.lot %>
                <%= lot.actual_price %>
              </td>
              <td><%= ProductType.find_by_id(p.product_id).try(:name) %></td>
              <td><%= Lot.find_by_id(p.lot_unit_id).name %></td>
              <td>
                <% if p.buyer.try(:age) == 1 %>
                  18-30
                  <% elsif p.buyer.try(:age) == 2 %>
                  31-40
                  <% elsif p.buyer.try(:age) == 3 %>
                  41-50
                  <% elsif p.buyer.try(:age) == 4 %>
                  51-60
                  <% elsif p.buyer.try(:age) == 5 %>
                  60 & above
                  <% else %>
                  <% end %>
              </td>
              <td>
                <% if p.buyer.try(:race) == 1 %>
                  Chinese
                <% elsif p.buyer.try(:race) == 2 %>
                  Melayu
                <% elsif p.buyer.try(:race) == 3 %>
                  Indian
                <% elsif p.buyer.try(:race) == 4 %>
                  Other
                <% else %>
                <% end %>
              </td>
              <td><%= p.buyer.region.try(:name) %></td>
              <td><%= p.buyer.sources_type.try(:name) %></td>
              <td>
                <% if p.status_id == Sale::PENDING %>
                  Pending
                <% elsif p.status_id == Sale::COMPLETED %>
                 Completed
                <% elsif p.status_id == Sale::REJECTED %>
                 Rejected : <%= p.reject_reason %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
          
        </table>