   <script src="http://code.highcharts.com/highcharts.js"></script>
      <script src="http://code.highcharts.com/modules/exporting.js"></script>

<div class="row" id="content_div">
		<div class="col-lg-12">
		  <div class="panel">
			  <div class="panel-heading">
				  <h3 class="panel-title">Report</h3>
			  </div>

			    <div class="panel-body">
				  	<div class="row">
					  	<select class="selectpicker" id="report_product_id">
					      <option value="0">Select a product</option>
					      <% @products.each do |product| %>
					        <option value="<%= product.id %>"> <%= product.name %></option>
					      <% end %>
					    </select>
				    </div>
				    <div class="row" id="menu">
				    </div>
				  </div>

				  <div class="panel-body">
				    <div class="row" id="report_content">
				       
				    </div>
				  </div>
				</div>
    </div>
</div>


  <script type="text/javascript">
  $("#report_product_id").change(function(){
  	var product_id = $(this).val();
  	$("#menu").load("/reports/"+ product_id +"/menu")
  });
  </script>

